interactions:
- request:
    body: '{"playbackContext": {"contentPlaybackContext": {"signatureTimestamp": 19156}},
      "video_id": "kIvWnIiIWPs", "context": {"client": {"clientName": "WEB_REMIX",
      "clientVersion": "0.1", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgtiNW9faWwyWFBYcyivt6GVBg%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/player?alt=json&key=fake_key
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"serviceTrackingParams\": [\n      {\n
        \       \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"is_viewed_live\",\n            \"value\": \"False\"\n
        \         },\n          {\n            \"key\": \"logged_in\",\n            \"value\":
        \"0\"\n          },\n          {\n            \"key\": \"e\",\n            \"value\":
        \"24225203,24002025,24230625,24230439,24215746,24230151,23882502,24187920,24225586,24002022,24181174,24198739,24211178,24034168,24187516,24169501,24231089,24212037,24077241,24130238,24165080,24215798,23918597,23946420,23744176,24196186,24120820,24167177,24077266,24222811,24001373,24036948,[...]
- request:
    body: '{"context": {"client": {"clientName": "WEB", "clientVersion": "2.20200720.00.02"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/search?contentCheckOk=True&key=fake_key&params=EgIQAQ%253D%253D&query=chvrches&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgtDTnUtMjdOMW1tbyi2t6GVBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\n        \"service\": \"GUIDED_HELP\",\n
        \       \"params\": [\n          {\n            \"key\": \"context\",\n            \"value\":
        \"yt_web_search\"\n          },\n          {\n            \"key\": \"logged_in\",\n
        \           \"value\": \"0\"\n          }\n        ]\n      },\n      {\n
        \       \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \ [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/results?app=desktop&persist_app=1&search_query=%22H2Hh2JVjshg%22&sp=EgIQAQ%253D%253D
  response:
    body:
      string: "<!DOCTYPE html><html style=\"font-size: 10px;font-family: Roboto, Arial,
        sans-serif;\" lang=\"en\" system-icons typography typography-spacing><head><meta
        http-equiv=\"X-UA-Compatible\" content=\"IE=edge\"/><meta http-equiv=\"origin-trial\"
        content=$newtonOriginTrialToken /><script nonce=\"o1SffUueBa7soeh3hhOVug\">var
        ytcfg={d:function(){return window.yt&&yt.config_||ytcfg.data_||(ytcfg.data_={})},get:function(k,o){return
        k in ytcfg.d()?ytcfg.d()[k]:o},set:function(){var a=arguments;if(a.length>1)ytcfg.d()[a[0]]=a[1];else
        for(var k in a[0])ytcfg.d()[k]=a[0][k]}};\nwindow.ytcfg.set('EMERGENCY_BASE_URL',
        '\\/error_204?t\\x3djserror\\x26level\\x3dERROR\\x26client.name\\x3d1\\x26client.version\\x3d2.20220613.00.00');</script><script
        nonce=\"o1SffUueBa7soeh3hhOVug\">(function(){window.yterr=window.yterr||true;window.unhandledErrorMessages={};window.unhandledErrorCount=0;\nwindow.onerror=function(msg,url,line,columnNumber,error){var
        err;if(error)err=error;else{err=new Error;err.stack=\"\";err.message=msg;err.fileName=url;err.lineNumber=line;if(!isNaN(columnNumber))err[\"columnNumber\"]=columnNumber}var
        message=String(err.message);if(!err.message||message in window.unhandledErrorMessages||window.unhandledErrorCount>=5)return;window.unhandledErrorCount+=1;window.unhandledErrorMessages[message]=true;var
        img=new Image;window.emergencyTimeoutImg=img;img.onload=img.onerror=function(){delete
        window.emergencyTimeoutImg};\nvar combinedLineAndColumn=err.lineNumber;if(!isNaN(err[\"columnNumber\"]))combinedLineAndColumn+=\":\"+err[\"columnNumber\"];var
        stack=err.stack||\"\";var values={\"msg\":message,\"type\":err.name,\"client.params\":\"unhandled
        window error\",\"file\":err.fileName,\"line\":combinedLineAndColumn,\"stack\":stack.substr(0,500)};var
        thirdPartyScript=!err.fileName||err.fileName===\"<anonymous>\"||stack.indexOf(\"extension://\")>=0;var
        replaced=stack.replace(/https:\\/\\/www.youtube.com\\//g,\"\");if(replaced.match(/https?:\\/\\/[^/]+\\//))thirdPartyScript=\ntrue;else
        if(stack.indexOf(\"trapProp\")>=0&&stack.indexOf(\"trapChain\")>=0)thirdPartyScript=true;else
        if(message.indexOf(\"redefine non-configurable\")>=0)thirdPartyScript=true;var
        baseUrl=window[\"ytcfg\"].get(\"EMERGENCY_BASE_URL\",\"https://www.youtube.com/error_204?t=jserror&level=ERROR\");var[...]
- request:
    body: '{"context": {"client": {"clientName": "WEB", "clientVersion": "2.20200720.00.02"}}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://www.youtube.com/youtubei/v1/search?contentCheckOk=True&key=fake_key&params=EgIQAw%253D%253D&query=chvrches&racyCheckOk=True
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgswSjI2a3p0SDJ0YyiHtK6WBg%3D%3D\",\n
        \   \"serviceTrackingParams\": [\n      {\[...]
