interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: '<!DOCTYPE html><html lang="en" dir="ltr"><head><title>Your browser
        is deprecated. Please upgrade.</title><meta name="viewport" content="width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/><link href="https://fonts.googleapis.com/css?family=Roboto:500"
        rel="stylesheet" nonce="GYro23zMqmGDphfkVf8Q0Q"/><link rel="icon" href="https://music.youtube.com/favicon.ico"
        sizes="16x16" type="image/x-icon"><link rel="icon" href="https://music.youtube.com/img/favicon_32.png"
        sizes="32x32" type="image/png"><link rel="icon" href="https://music.youtube.com/img/favicon_48.png"
        sizes="48x48" type="image/png"><link rel="icon" href="https://music.youtube.com/img/favicon_96.png"
        sizes="96x96" type="image/png"><link rel="icon" href="https://music.youtube.com/img/favicon_144.png"
        sizes="144x144" type="image/png"><style nonce="GYro23zMqmGDphfkVf8Q0Q">body
        {display: flex; height: 100vh; width: 100vw; align-items: center; justify-content:
        center; margin: 0; background-color: #131313; overflow: hidden; font-family:
        ''Roboto'', arial, sans-serif}.content {display: flex; flex-direction: column;
        align-items: center;}.logo {width: 160px;}.message {max-width: 400px; box-sizing:
        border-box; padding: 32px 24px; font-size: 18px; line-height: 22px; font-weight:
        500; text-align: center; color: rgba(255, 255, 255, 0.8);}.cta-wrapper {display:
        flex; justify-content: center;}.cta {display: flex; align-items: center; justify-content:
        center; background-color: #fff; font-size: 14px; font-weight: 500; text-decoration:
        none; text-transform: uppercase; color: #131313; height: 36px; min-width:
        88px; border-radius: 2px; padding: 0 24px;}</style></head><body><div class="content"><img
        class="logo" src="//music.youtube.com/img/on_platform_logo_dark.svg" alt=""><div
        class="message">Sorry, YouTube Music is not optimized for your browser. Check
        for updates or try Google Chrome.</div><div class="cta-wrapper"><a class="cta"
        href="http://www.google.com/chrome/index.html">Get Chrome</a></div></div></body></html>'
    headers:
      Content-Type:
      - text/html; charset=utf-8
      accept-ch:
      - Sec-CH-UA-Arch, Sec-CH-UA-Full-Version, Sec-CH-UA-Model, Sec-CH-UA-Platform,
        Sec-CH-UA-Platform-Version
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en-GB\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"xajR6TebQ3T/UQiY60YJ8g\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"xajR6TebQ3T/UQiY60YJ8g\"></script><script nonce=\"xajR6TebQ3T/UQiY60YJ8g\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:function(){return(new
        Date).getTime()},tick:function(l,t,n){var ticks=ytcsi.gt(n).tick;var v=t||ytcsi.now();if(ticks[l]){ticks[\"_\"+l]=ticks[\"_\"+l]||[ticks[l]];ticks[\"_\"+l].push(v)}ticks[l]=v},info:function(k,\nv,n){ytcsi.gt(n).info[k]=v},setStart:function(s,t,n){ytcsi.info(\"yt_sts\",s,n);ytcsi.tick(\"_start\",t,n)}};\n(function(w,d){ytcsi.setStart(\"dhs\",w.performance?w.performance.timing.responseStart:null);var
        isPrerender=(d.visibilityState||d.webkitVisibilityState)==\"prerender\";var
        vName=!d.visibilityState&&d.webkitVisibilityState?\"webkitvisibilitychange\":\"visibilitychange\";if(isPrerender){ytcsi.info(\"prerender\",1);var
        startTick=function(){ytcsi.setStart(\"dhs\");d.removeEventListener(vName,startTick)};d.addEventListener(vName,startTick,false)}if(d.addEventListener)d.addEventListener(vName,function(){ytcsi.tick(\"vc\")},\nfalse);function
        isGecko(){if(!w.navigator)return false;try{if(w.navigator.userAgentData&&w.navigator.userAgentData.brands&&w.navigator.userAgentData.brands.length){var
        brands=w.navigator.userAgentData.brands;for(var i=0;i<brands.length;i++)if(brands[i]&&brands[i].brand===\"Firefox\")return
        true;return false}}catch(e){setTimeout(function(){throw e;})}if(!w.navigator.userAgent)return
        false;var ua=w.navigator.userAgent;return ua.indexOf(\"Gecko\")>0&&ua.toLowerCase().indexOf(\"webkit\")<0&&ua.indexOf(\"Edge\")<\n0&&ua.indexOf(\"Trident\")<0&&ua.indexOf(\"MSIE\")<0}if(isGecko()){var
        isHidden=(d.visibilityState||d.webkitVisibilityState)==\"hidden\";if(isHidden)ytcsi.tick(\"vc\")}var
        slt=function(el,t){setTimeout(function(){var n=ytcsi.now();el.loadTime=n;if(el.slt)el.slt()},t)};w.__ytRIL=function(el){if(!el.getAttribute(\"data-thumb\"))if(w.requestAnimationFrame)w.requestAnimationFrame(function(){slt(el,0)});else
        slt(el,16)}})(window,document);\n</script><script nonce=\"xajR6TebQ3T/UQiY60YJ8g\">if
        (window.ytcsi) {window.ytcsi.tick('hs', null, '');}</script><base href=\"/\"><link
        rel=\"search\" type=\"application/opensearchdescription+xml\" href=\"https://music.youtube.com/opensearch?locale=en_GB\"
        title=\"YouTube Music search\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no\"/><meta name=\"theme-color\"
        content=\"#131313\"><title>YouTube Music</title><meta name=\"description\"
        content=\"A new music service with official albums, singles, videos, remixes,[...]
- request:
    body: '{"browseId": "UCZtGOj7FTHPd2txgnbJS2kQ", "context": {"client": {"clientName":
      "WEB_REMIX", "clientVersion": "0.1", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgsxSDVZMVdWNGZISSiVsbCKBg%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/browse?alt=json&key=fake_key
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"maxAgeSeconds\": 300,\n    \"serviceTrackingParams\":
        [\n      {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"context\",\n            \"value\": \"channel_creator\"\n
        \         },\n          {\n            \"key\": \"has_unlimited_entitlement\",\n
        \           \"value\": \"False\"\n          },\n          {\n            \"key\":
        \"browse_id\",\n            \"value\": \"UCZtGOj7FTHPd2txgnbJS2kQ\"\n          },\n
        \         {\n            \"key\": \"logged_in\",\n            \"value\": \"0\"\n
        \         },\n          {\n            \"key\": \"e\",\n            \"value\":
        \"24056274,23996830,23[...]
- request:
    body: '{"browseId": "UCZtGOj7FTHPd2txgnbJS2kQ", "context": {"client": {"clientName":
      "WEB_REMIX", "clientVersion": "0.1", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - CgsxSDVZMVdWNGZISSiVsbCKBg%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/browse?alt=json&key=fake_key
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"visitorData\": \"CgsxSDVZMVdWNGZISSjMhMaNBg%3D%3D\",\n
        \   \"maxAgeSeconds\": 300,\n    \"serviceTrackingParams\": [\n      {\n        \"service\":
        \"GFEEDBACK\",\n        \"params\": [\n          {\n            \"key\": \"context\",\n
        \           \"value\": \"channel_creator\"\n          },\n          {\n            \"key\":
        \"has_unlimited_entitlement\",\n            \"value\": \"False\"\n          },\n
        \         {\n            \"key\": \"browse_id\",\n            \"v[...]
