interactions:
- request:
    body: null
    headers:
      content-type:
      - application/json
    method: GET
    uri: https://music.youtube.com/
  response:
    body:
      string: "<!DOCTYPE html><html lang=\"en-GB\" dir=\"ltr\" dark=\"true\"><head><script
        nonce=\"RA+xzW3mr67d4nCy4DAk5A\">(window.dataLayer=window.dataLayer||[]).push({'gtm.start':new
        Date().getTime(),event:'gtm.js'});</script><script async src=\"https://www.googletagmanager.com/gtm.js?id=GTM-NQNFS9\"
        nonce=\"RA+xzW3mr67d4nCy4DAk5A\"></script><script nonce=\"RA+xzW3mr67d4nCy4DAk5A\">var
        ytcsi={gt:function(n){n=(n||\"\")+\"data_\";return ytcsi[n]||(ytcsi[n]={tick:{},info:{}})},now:window.performance&&window.performance.timing&&window.performance.now&&window.performance.timing.navigationStart?function(){return
        window.performance.timing.navigationStart+window.performance.now()}:function(){return(new
        Date).getTime()},tick:function(l,t,n){var ticks=ytcsi.gt(n).tick;var v=t||ytcsi.now();if(ticks[l]){ticks[\"_\"+l]=ticks[\"_\"+l]||[ticks[l]];ticks[\"_\"+l].push(v)}ticks[l]=v},info:function(k,\nv,n){ytcsi.gt(n).info[k]=v},setStart:function(s,t,n){ytcsi.info(\"yt_sts\",s,n);ytcsi.tick(\"_start\",t,n)}};\n(function(w,d){ytcsi.setStart(\"dhs\",w.performance?w.performance.timing.responseStart:null);var
        isPrerender=(d.visibilityState||d.webkitVisibilityState)==\"prerender\";var
        vName=!d.visibilityState&&d.webkitVisibilityState?\"webkitvisibilitychange\":\"visibilitychange\";if(isPrerender){ytcsi.info(\"prerender\",1);var
        startTick=function(){ytcsi.setStart(\"dhs\");d.removeEventListener(vName,startTick)};d.addEventListener(vName,startTick,false)}if(d.addEventListener)d.addEventListener(vName,function(){ytcsi.tick(\"vc\")},\nfalse);function
        isGecko(){if(!w.navigator)return false;try{if(w.navigator.userAgentData&&w.navigator.userAgentData.brands&&w.navigator.userAgentData.brands.length){var
        brands=w.navigator.userAgentData.brands;for(var i=0;i<brands.length;i++)if(brands[i]&&brands[i].brand===\"Firefox\")return
        true;return false}}catch(e){setTimeout(function(){throw e;})}if(!w.navigator.userAgent)return
        false;var ua=w.navigator.userAgent;return ua.indexOf(\"Gecko\")>0&&ua.toLowerCase().indexOf(\"webkit\")<0&&ua.indexOf(\"Edge\")<\n0&&ua.indexOf(\"Trident\")<0&&ua.indexOf(\"MSIE\")<0}if(isGecko()){var
        isHidden=(d.visibilityState||d.webkitVisibilityState)==\"hidden\";if(isHidden)ytcsi.tick(\"vc\")}var
        slt=function(el,t){setTimeout(function(){var n=ytcsi.now();el.loadTime=n;if(el.slt)el.slt()},t)};w.__ytRIL=function(el){if(!el.getAttribute(\"data-thumb\"))if(w.requestAnimationFrame)w.requestAnimationFrame(function(){slt(el,0)});else
        slt(el,16)}})(window,document);\n</script><script nonce=\"RA+xzW3mr67d4nCy4DAk5A\">if
        (window.ytcsi) {window.ytcsi.tick('hs', null, '');}</script><base href=\"/\"><link
        rel=\"search\" type=\"application/opensearchdescription+xml\" href=\"https://music.youtube.com/opensearch?locale=en_GB\"
        title=\"YouTube Music search\"><meta name=\"viewport\" content=\"width=device-width,
        initial-scale=1.0, maximum-scale=1.0, user-scalable=no\"/><meta name=\"theme-color\"
        content=\"#131313\"><title>YouTube Music</title><meta name=\"description\"
        content=\"A new music service with official albums, singles, videos, remixes,
        live performances and more for Android, iOS and desktop. It&#39;s all here.\"><meta
        property=\"fb:app_id\" content=\"87741124305\"><meta property=\"og:site_name\"
        content=\"YouTube Music\"><meta property=\"og:url\" class=\"meta-url\" content=\"https://music.youtube.com/\"><meta
        property=\"og:type\" content=\"website\"><meta property[...]
- request:
    body: '{"browseId": "UCZtGOj7FTHPd2txgnbJS2kQ", "context": {"client": {"clientName":
      "WEB_REMIX", "clientVersion": "0.1", "hl": "en"}, "user": {}}}'
    headers:
      X-Goog-Visitor-Id:
      - Cgs4Vko1cHNLQmp5cyisieqOBg%3D%3D
      content-type:
      - application/json
    method: POST
    uri: https://music.youtube.com/youtubei/v1/browse?alt=json&key=fake_key
  response:
    body:
      string: "{\n  \"responseContext\": {\n    \"maxAgeSeconds\": 300,\n    \"serviceTrackingParams\":
        [\n      {\n        \"service\": \"GFEEDBACK\",\n        \"params\": [\n          {\n
        \           \"key\": \"context\",\n            \"value\": \"channel_creator\"\n
        \         },\n          {\n            \"key\": \"has_unlimited_entitlement\",\n
        \           \"value\": \"False\"\n          },\n          {\n            \"key\":
        \"browse_id\",\n            \"value\": \"UCZtGOj7FTHPd2txgnbJS2kQ\"\n          },\n
        \         {\n            \"key\": \"logged_in\",\n            \"value\": \"0\"\n
        \         },\n          {\n            \"key\": \"e\",\n            \"value\":
        \"24007790,23934970,24[...]
[...]
