interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=20&part=snippet&relatedToVideoId=h_uyq8oGDvU&type=video
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"BM8nE7Ccr3k_ovwjh_bZkTEv83g\",\n
        \ \"nextPageToken\": \"CBQQAA\",\n  \"regionCode\": \"AU\",\n  \"pageInfo\":
        {\n    \"totalResults\": 82,\n    \"resultsPerPage\": 20\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"wGgM8-zYu0-H-mSLtm7lNoSPZuE\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"vOCZDeB-JuU\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2021-02-09T18:42:38Z\",\n        \"channelId\": \"UC8gbK8uoqKhlACSeenUPkFQ\",\n
        \       \"title\": \"Neil Young and Crazy Horse - Don't Cry No Tears (Official
        Music Video)\",\n        \"description\": \"Don't Cry No Tears  -  Neil Young
        and Crazy Horse - Way Down In The Rust Bucket\\n\\nRecorded Nov 13, 1990 at
        the Catalyst in Santa Cruz, CA\\n\\nLive album releases on 2/26/21!\\n\\nPreviously
        unreleased album.  Hear it in high-res at NeilYoungArchives.com!\\n\\nThis
        live recording includes:\\n * Country Home\\n * Cinnamon Girl\\n * F*!#In'
        Up\\n * T-Bone\\n * Homegrown\\nAnd more!\\n\\nVisit the store at https://NeilYoungArchives.com
        to reserve yours now.\\n\\nExperience all of Neil Young's music at Neil Young
        Archives!\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/vOCZDeB-JuU/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/vOCZDeB-JuU/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/vOCZDeB-JuU/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"neilyoungchannel\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2021-02-09T18:42:38Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"-qrcAC9NjETvfXEGORiUrNYP77g\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"p6xNft9MutQ\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2009-04-01T15:11:47Z\",\n        \"channelId\": \"UCNAYBFrEyZhGnS8mvHv15pA\",\n
        \       \"title\": \"Neil Young - Powderfinger\",\n        \"description\":
      [...]
