interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=20&part=snippet&relatedToVideoId=h_uyq8oGDvU&type=video
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"TxSgMyIsTlT_gXwo6lhmkVigtjo\",\n
        \ \"nextPageToken\": \"CBQQAA\",\n  \"regionCode\": \"AU\",\n  \"pageInfo\":
        {\n    \"totalResults\": 84,\n    \"resultsPerPage\": 20\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"-qrcAC9NjETvfXEGORiUrNYP77g\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"p6xNft9MutQ\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2009-04-01T15:11:47Z\",\n        \"channelId\": \"UCNAYBFrEyZhGnS8mvHv15pA\",\n
        \       \"title\": \"Neil Young - Powderfinger\",\n        \"description\":
        \"I know there are plenty of clips of this song on Youtube, still it's one
        of his best songs.\\nFrom from 2002.\",\n        \"thumbnails\": {\n          \"default\":
        {\n            \"url\": \"https://i.ytimg.com/vi/p6xNft9MutQ/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/p6xNft9MutQ/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/p6xNft9MutQ/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"Ze18613\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2009-04-01T15:11:47Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"bnx5_1hpN0mb0q43h9TpUzrV0D4\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"UuQYM9PNnII\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2021-02-26T07:54:41Z\",\n        \"channelId\": \"UCkYBx2KmIjFKFvA2Ye8UhAg\",\n
        \       \"title\": \"Neil Young Greatest Hits Full Album - Best Songs Of Neil
        Young Playlist 2021\",\n        \"description\": \"Neil Young Greatest Hits
        Full Album - Best Songs Of Neil Young Playlist 2021\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/UuQYM9PNnII/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/UuQYM9PNnII/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/UuQYM9PNnII/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/UuQYM9PNnII/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/UuQYM9PNnII/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"SLOW ROCK MUSIC\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2021-02-26T07:54:41Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"xplFcXL-Lr8nJbzw-KbQahTM67w\",\n
        \     \"id\": {\n  [...]
