interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+videoOwnerChannelTitle%29%29&key=fake_key&maxResults=20&part=id%2Csnippet&playlistId=PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j
  response:
    body:
      string: "{\n  \"nextPageToken\": \"EAAaBlBUOkNCUQ\",\n  \"items\": [\n    {\n
        \     \"snippet\": {\n        \"title\": \"Steve Kilbey & Martin Kennedy -
        Can't Get Free\",\n        \"resourceId\": {\n          \"videoId\": \"MzFLCi9nOHQ\"\n
        \       },\n        \"videoOwnerChannelTitle\": \"KilbeyKennedy\"\n      }\n
        \   },\n    {\n      \"snippet\": {\n        \"title\": \"Icehouse - We Can
        Get Together\",\n        \"resourceId\": {\n          \"videoId\": \"H2Hh2JVjshg\"\n
        \       },\n        \"videoOwnerChannelTitle\": \"negfbjm\"\n      }\n    },\n
        \   {\n      \"snippet\": {\n        \"title\": \"Pinch - Marc Ribot's Ceramic
        Dog\",\n        \"resourceId\": {\n          \"videoId\": \"13MG9tNMoT4\"\n
        \       },\n        \"video[...]
