interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?key=fake_key&maxResults=20&part=snippet&relatedToVideoId=h_uyq8oGDvU&type=video
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"n3uNLUjSHMSqCaefk1YLcByz9YE\",\n
        \ \"nextPageToken\": \"CBQQAA\",\n  \"regionCode\": \"AU\",\n  \"pageInfo\":
        {\n    \"totalResults\": 82,\n    \"resultsPerPage\": 20\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"vX9QGRl2VcmXi8cM9eh4dVzLdYU\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"k6TOvpxesxY\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2020-10-06T09:26:39Z\",\n        \"channelId\": \"UCXynnXkWjVqGgZo02vCfl9g\",\n
        \       \"title\": \"N\u0332eil Yo\u0332ung\u0332 - H\u0332arve\u0332st (Full
        Album) 1972\",\n        \"description\": \"You Can support My channel if you
        wish.... \\n\\nhttps://www.paypal.com/paypalme/ClassicRockYT\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/k6TOvpxesxY/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/k6TOvpxesxY/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/k6TOvpxesxY/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/k6TOvpxesxY/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/k6TOvpxesxY/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Classic Rock\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2020-10-06T09:26:39Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"HFJMwJzD5J93Hp3Ne0YK6LRkxSc\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"vOCZDeB-JuU\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2021-02-09T18:42:38Z\",\n        \"channelId\": \"UC8gbK8uoqKhlACSeenUPkFQ\",\n
        \       \"title\": \"Neil Young and Crazy Horse - Don't Cry No Tears (Official
   [...]
