interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=_mTRvJ9fugM%2Ch_uyq8oGDvU%2CLvXoB1S45j0&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"_mTRvJ9fugM\",\n      \"snippet\":
        {\n        \"title\": \"CHVRCHES - The Mother We Share\",\n        \"channelTitle\":
        \"ChvrchesVEVO\"\n      },\n      \"contentDetails\": {\n        \"duration\":
        \"PT3M16S\"\n      }\n    },\n    {\n      \"id\": \"h_uyq8oGDvU\",\n      \"snippet\":
        {\n        \"title\": \"Don't Cry No Tears (2016 Remaster)\",\n        \"channelTitle\":
        \"Neil Young - Topic\"\n      },\n      \"contentDetails\": {\n        \"duration\":
        \"PT2M35S\"\n      }\n    },\n    {\n      \"id\": \"LvXoB1S45j0\",\n      \"snippet\":
        {\n        \"title\": \"Fire and Rain\",\n        \"channelTitle\": \"James
        Taylor - Topic\"\n      },\n      \"contentDetails\": {\n        \"duration\":
        \"PT3M21S\"\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
