interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?fields=items%28id%2C+snippet%28title%2C+thumbnails%28default%29%2C+channelTitle%29%29&key=fake_key&maxResults=15&part=id%2C+snippet&q=chvrches&type=video%2Cplaylist
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": {\n        \"kind\": \"youtube#video\",\n
        \       \"videoId\": \"4Eo84jDIMKI\"\n      },\n      \"snippet\": {\n        \"title\":
        \"CHVRCHES - Leave A Trace\",\n        \"thumbnails\": {\n          \"default\":
        {\n            \"url\": \"https://i.ytimg.com/vi/4Eo84jDIMKI/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          }\n        },\n
        \       \"channelTitle\": \"ChvrchesVEVO\"\n      }\n    },\n    {\n      \"id\":
        {\n        \"kind\": \"youtube#video\",\n        \"videoId\": \"du4kNAyjVCg\"\n
        \     },\n      \"snippet\": {\n        \"title\": \"CHVRCHES - Good Girls
        (Official Video)\",\n        \"thumbnails\": {\n          \"default\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/du4kNAyjVCg/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          }\n        },\n
        \      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=4Eo84jDIMKI%2Cdu4kNAyjVCg%2C_mTRvJ9fugM%2CCjwwmFrsX_E%2C-HYI26sG8u0%2CB9BLMNn0PrQ&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"4Eo84jDIMKI\",\n      \"snippet\":
        {\n        \"channelId\": \"UCDgEglMcFTNpDbGEeQcummw\",\n        \"title\":
        \"CHVRCHES - Leave A Trace\",\n        \"channelTitle\": \"ChvrchesVEVO\"\n
        \     },\n      \"contentDetails\": {\n        \"duration\": \"PT3M58S\"\n
        \     }\n    },\n    {\n      \"id\": \"du4kNAyjVCg\",\n      \"snippet\":
        {\n        \"channelId\": \"UCDgEglMcFTNpDbGEeQcummw\",\n        \"title\":
        \"CHVRCHES - Good Girls (Official Video)\",\n        \"channelTitle\": \"ChvrchesVEVO\"\n
        \     },\n      \"contentDetails\": {\n        \"duration\": \"PT3M22S\"\n
        \     }\n    },\n    {\n      \"id\": \"_mTRvJ9fugM\",\n      \"snippet\":
        {\n        \"channelId\": \"UCDgEglMcFTNpDbGEe[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=4Eo84jDIMKI%2Cdu4kNAyjVCg%2C_mTRvJ9fugM%2C7U_LhzgwJ4U%2CBZyzX4c1vIs%2Ce1YqueG2gtQ%2CfyyiJc0Wk2M%2CKNHxwSp-6Og%2CCjwwmFrsX_E%2C-HYI26sG8u0%2C81RqEnvczV8%2CB9BLMNn0PrQ%2Cktoaj1IpTbw%2CLDSVLQoPc8w%2Cifr3O33UpWs&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      stri[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=4Eo84jDIMKI%2C_mTRvJ9fugM%2CBZyzX4c1vIs%2Ce1YqueG2gtQ%2CKNHxwSp-6Og%2CCjwwmFrsX_E%2C-HYI26sG8u0%2C81RqEnvczV8%2CB9BLMNn0PrQ%2Cktoaj1IpTbw%2CLDSVLQoPc8w%2Cifr3O33UpWs&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=du4kNAyjVCg%2C_mTRvJ9fugM%2C7U_LhzgwJ4U%2CBZyzX4c1vIs%2Ce1YqueG2gtQ%2CfyyiJc0Wk2M%2CCjwwmFrsX_E%2C-HYI26sG8u0%2C81RqEnvczV8%2Cktoaj1IpTbw%2CLDSVLQoPc8w%2Cifr3O33UpWs&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=4Eo84jDIMKI%2C_mTRvJ9fugM%2CBZyzX4c1vIs%2Ce1YqueG2gtQ%2CKNHxwSp-6Og%2CCjwwmFrsX_E%2C-HYI26sG8u0%2C81RqEnvczV8%2CB9BLMNn0PrQ%2CLDSVLQoPc8w%2Cifr3O33UpWs&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"4Eo84jDIM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=CjwwmFrsX_E%2C-HYI26sG8u0%2CLDSVLQoPc8w%2Cifr3O33UpWs&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"CjwwmFrsX_E\",\n      \"snippet\":
        {\n        \"channelId\": \"UCd2KNtfphz8HvYzM4pwtHmg\",\n       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=4Eo84jDIMKI%2Cdu4kNAyjVCg%2C_mTRvJ9fugM%2C7U_LhzgwJ4U%2CBZyzX4c1vIs%2CfyyiJc0Wk2M%2CKNHxwSp-6Og%2CCjwwmFrsX_E%2C-HYI26sG8u0%2C81RqEnvczV8%2CB9BLMNn0PrQ%2Cktoaj1IpTbw%2CLDSVLQoPc8w&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=du4kNAyjVCg%2Ce1YqueG2gtQ%2CfyyiJc0Wk2M%2CCjwwmFrsX_E%2C-HYI26sG8u0%2C81RqEnvczV8%2Cktoaj1IpTbw%2CLDSVLQoPc8w%2Cifr3O33UpWs&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"API key not
        valid. Please pass a valid API key.\",\n    \"errors\": [\n      {\n        \"message\":
        \"API key not valid. Please pass a valid API key.\",\n        \"domain\":
        \"global\",\n        \"reason\": \"badRequest\"\n      }\n    ],\n    \"status\":
        \"INVALID_ARGUMENT\",\n    \"details\": [\n      {\n        \"@type\": \"type.googleapis.com/google.rpc.ErrorInfo\",\n
        \       \"reason\": \"API_KEY_INVALID\",\n        \"domain\": \"googleapis.com\",\n
        \       \"metadata\": {\n          \"service\": \"youtube.googleapis.com\"\n
        \       }\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=_mTRvJ9fugM%2CBZyzX4c1vIs%2Ce1YqueG2gtQ%2C-HYI26sG8u0%2C81RqEnvczV8%2Cktoaj1IpTbw%2CLDSVLQoPc8w%2Cifr3O33UpWs&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"API key not
        valid. Please pass a valid API key.\",\n    \"errors\": [\n      {\n        \"message\":
        \"API key not valid. Please pass a valid API key.\",\n        \"domain\":
        \"global\",\n        \"reason\": \"badRequest\"\n      }\n    ],\n    \"status\":
        \"INVALID_ARGUMENT\",\n    \"details\": [\n      {\n        \"@type\": \"type.googleapis.com/google.rpc.ErrorInfo\",\n
        \       \"reason\": \"API_KEY_INVALID\",\n        \"domain\": \"googleapis.com\",\n
        \       \"metadata\": {\n          \"service\": \"youtube.googleapis.com\"\n
        \       }\n      }\n    ]\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
version: 1
