interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=20&part=snippet&relatedToVideoId=h_uyq8oGDvU&type=video
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"XbfFssVEfJlpop-DeBvUzWFsLww\",\n
        \ \"nextPageToken\": \"CBQQAA\",\n  \"regionCode\": \"AU\",\n  \"pageInfo\":
        {\n    \"totalResults\": 78,\n    \"resultsPerPage\": 20\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"xplFcXL-Lr8nJbzw-KbQahTM67w\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"vOCZDeB-JuU\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2021-02-09T18:42:38Z\",\n        \"channelId\": \"UC8gbK8uoqKhlACSeenUPkFQ\",\n
        \       \"title\": \"Neil Young and Crazy Horse - Don't Cry No Tears (Official
        Music Video)\",\n        \"description\": \"Don't Cry No Tears  -  Neil Young
        and Crazy Horse - Way Down In The Rust Bucket\\n\\nRecorded Nov 13, 1990 at
        the Catalyst in Santa Cruz, CA\\n\\nLive album releases on 2/26/21!\\n\\nPreviously
        unreleased album.  Hear it in high-res at NeilYoungArchives.com!\\n\\nThis
        live recording includes:\\n * Country Home\\n * Cinnamon Girl\\n * F*!#In'
        Up\\n * T-Bone\\n * Homegrown\\nAnd more!\\n\\nVisit the store at https://NeilYoungArchives.com
        to reserve yours now.\\n\\nExperience all of Neil Young's music at Neil Young
        Archives!\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/vOCZDeB-JuU/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/vOCZDeB-JuU/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/vOCZDeB-JuU/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          }\n        },\n
        \       \"channelTitle\": \"neilyoungchannel\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2021-02-09T18:42:38Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"2J5gZZfjcrItmh2L4iMy9ye6Fu4\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"k6TOvpxesxY\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2020-10-06T09:26:39Z\",\n        \"channelId\": \"UCXynnXkWjVqGgZo02vCfl9g\",\n
        \       \"title\": \"N\u0332eil Yo\u0332ung\u0332 - H\u0332arve\u0332st (Full
        Album) 1972\",\n        \"description\": \"For  suggestions & support, you
        can send your message at: \\nloveclassicrock26@gmail.com\\nThank you very
        much !\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/k6TOvpxesxY/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/k6TOvpxesxY/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/k6TOvpxesxY/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/k6TOvpxesxY/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/k6TOvpxesxY/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Classic Rock\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2020-10-06T09:26:39Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"I3uZ_WdTCub5G_PYc4XjkAEtDzs\",\n
        \     \"id\": {\n     [...]
