interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?channelId=UCZtGOj7FTHPd2txgnbJS2kQ&fields=items%28id%2Csnippet%28title%29%2CcontentDetails%28itemCount%29%29&key=fake_key&maxResults=50&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"PLJD13y84Bd029ENixIHEpDqeWcjiogsFi\",\n
        \     \"snippet\": {\n        \"title\": \"ytmusic pl\"\n      },\n      \"contentDetails\":
        {\n        \"itemCount\": 1\n      }\n    },\n    {\n      \"id\": \"PLJD13y84Bd01Q8b8ONfwNMLD3pVBcqwMq\",\n
        \     \"snippet\": {\n        \"title\": \"respect the rock\"\n      },\n
        \     \"contentDetails\": {\n        \"itemCount\": 2219\n      }\n    },\n
        \   {\n      \"id\": \"PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j\",\n      \"snippet\":
        {\n        \"title\": \"skullcave\"\n      },\n      \"contentDetails\": {\n
        \       \"itemCount\": 1928\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
