interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?fields=items%28id%2C+snippet%28title%2C+thumbnails%28default%29%2C+channelTitle%29%29&key=fake_key&maxResults=15&part=id%2C+snippet&q=test&type=video%2Cplaylist
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": {\n        \"kind\": \"youtube#video\",\n
        \       \"videoId\": \"-KGnRe1f2DA\"\n      },\n      \"snippet\": {\n        \"title\":
        \"What&#39;s Your True Spirit Animal? Personality Test\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/-KGnRe1f2DA/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          }\n        },\n
        \       \"channelTitle\": \"BRIGHT SIDE\"\n      }\n    },\n    {\n      \"id\":
        {\n        \"kind\": \"youtube#video\",\n        \"videoId\": \"Kt8RupLIkBQ\"\n
        \     },\n      \"snippet\": {\n        \"title\": \"10 Hardest Choices Ever
        (Personality Test)\",\n        \"thumbnails\": {\n          \"default\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/Kt8RupLIkBQ/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          }\n        },\n
        \   [...]
