interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%2CcontentDetails%28itemCount%29%29&id=PLo4c-riVwz2miWOT3Y2VWzg2bmV4FmC8J&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"PLo4c-riVwz2miWOT3Y2VWzg2bmV4FmC8J\",\n
        \     \"snippet\": {\n        \"title\": \"Tom Petty's greatest hits album\",\n
        \       \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/SIhb-kNvL6M/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/SIhb-kNvL6M/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/SIhb-kNvL6M/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/SIhb-kNvL6M/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/SIhb-kNvL6M/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Sheri Donhamgreene\"\n      },\n      \"contentDetails\":
        {\n        \"itemCount\": 18\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
