interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=nvlTJrNJ5lA&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"nvlTJrNJ5lA\",\n      \"snippet\":
        {\n        \"title\": \"Tom Petty And The Heartbreakers - I Won't Back Down
        (Official Music Video)\",\n        \"channelTitle\": \"TomPettyVEVO\"\n      },\n
        \     \"contentDetails\": {\n        \"duration\": \"PT3M2S\"\n      }\n    }\n
        \ ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
