interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=SIhb-kNvL6M&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"SIhb-kNvL6M\",\n      \"snippet\":
        {\n        \"title\": \"American Girl\",\n        \"channelTitle\": \"Tom
        Petty - Topic\"\n      },\n      \"contentDetails\": {\n        \"duration\":
        \"PT3M35S\"\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+videoOwnerChannelTitle%29%29&key=fake_key&maxResults=20&part=id%2Csnippet&playlistId=PLo4c-riVwz2miWOT3Y2VWzg2bmV4FmC8J
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"snippet\": {\n        \"title\":
        \"American Girl\",\n        \"resourceId\": {\n          \"videoId\": \"SIhb-kNvL6M\"\n
        \       },\n        \"videoOwnerChannelTitle\": \"Tom Petty - Topic\"\n      }\n
        \   },\n    {\n      \"snippet\": {\n        \"title\": \"Breakdown\",\n        \"resourceId\":
        {\n          \"videoId\": \"dqxns-JTTqA\"\n        },\n        \"videoOwnerChannelTitle\":
        \"Tom Petty - Topic\"\n      }\n    },\n    {\n      \"snippet\": {\n        \"title\":
        \"Anything That's Rock 'n' Roll\",\n        \"resourceId\": {\n          \"videoId\":
        \"Vy6cMrXH09U\"\n        },\n        \"videoOwnerChannelTitle\": [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=SIhb-kNvL6M%2Cdqxns-JTTqA%2CVy6cMrXH09U%2CfFnOfpIJL0M%2Cn4nPa35CZPI%2CuMyCa35_mOg%2Ch0JvF9vpqx8%2CnvlTJrNJ5lA%2CY1D3a5eDJIs%2C1lWJXDG2i0A%2CxqmFxgEGKH0%2CaowSGxim_O8%2Cb9q5zaY4IQ8%2C4EHK9rmUP-g%2CPMivT7MJ41M%2CQ6rj82AqzKM%2CUKc271fj2ok&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%2CcontentDetails%28itemCount%29%29&id=PLo4c-riVwz2miWOT3Y2VWzg2bmV4FmC8J&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"PLo4c-riVwz2miWOT3Y2VWzg2bmV4FmC8J\",\n
        \     \"snippet\": {\n        \"title\": \"Tom Petty's greatest hits album\",\n
        \       \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/SIhb-kNvL6M/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          },\n          \"medium\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/SIhb-kNvL6M/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/SIhb-kNvL6M/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/SIhb-kNvL6M/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/SIhb-kNvL6M/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Sheri Donhamgreene\"\n      },\n      \"contentDetails\":
        {\n        \"itemCount\": 18\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
