interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?channelId=UCZtGOj7FTHPd2txgnbJS2kQ&fields=items%28id%2Csnippet%28title%29%2CcontentDetails%28itemCount%29%29&key=fake_key&maxResults=50&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"PLJD13y84Bd029ENixIHEpDqeWcjiogsFi\",\n
        \     \"snippet\": {\n        \"title\": \"ytmusic pl\"\n      },\n      \"contentDetails\":
        {\n        \"itemCount\": 1\n      }\n    },\n    {\n      \"id\": \"PLJD13y84Bd01Q8b8ONfwNMLD3pVBcqwMq\",\n
        \     \"snippet\": {\n        \"title\": \"respect the rock\"\n      },\n
        \     \"contentDetails\": {\n        \"itemCount\": 2219\n      }\n    },\n
        \   {\n      \"id\": \"PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j\",\n      \"snippet\":
        {\n        \"title\": \"skullcave\"\n      },\n      \"contentDetails\": {\n
        \       \"itemCount\": 1928\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%2CcontentDetails%28itemCount%29%29&id=PLJD13y84Bd029ENixIHEpDqeWcjiogsFi%2CPLJD13y84Bd01Q8b8ONfwNMLD3pVBcqwMq%2CPLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"PLJD13y84Bd029ENixIHEpDqeWcjiogsFi\",\n
        \     \"snippet\": {\n        \"title\": \"ytmusic pl\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/KlyXNRrsk4A/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/KlyXNRrsk4A/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/KlyXNRrsk4A/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/KlyXNRrsk4A/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/KlyXNRrsk4A/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Nik\"\n      },\n      \"contentDetails\": {\n
        \       \"itemCount\": 1\n      }\n    },\n    {\n      \"id\": \"PLJD13y84Bd01Q8b8ONfwNMLD3pVBcqwMq\",\n
        \     \"snippet\": {\n        \"title\": \"respect the rock\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/yx4rmRHdYas/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"ur[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+videoOwnerChannelTitle%29%29&key=fake_key&maxResults=20&part=id%2Csnippet&playlistId=PLJD13y84Bd029ENixIHEpDqeWcjiogsFi
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"snippet\": {\n        \"title\":
        \"Katy Perry - Last Friday Night (T.G.I.F.) (Official Music Video)\",\n        \"resourceId\":
        {\n          \"videoId\": \"KlyXNRrsk4A\"\n        },\n        \"videoOwnerChannelTitle\":
        \"KatyPerryVEVO\"\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=KlyXNRrsk4A&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"KlyXNRrsk4A\",\n      \"snippet\":
        {\n        \"title\": \"Katy Perry - Last Friday Night (T.G.I.F.) (Official
        Music Video)\",\n        \"channelTitle\": \"KatyPerryVEVO\"\n      },\n      \"contentDetails\":
        {\n        \"duration\": \"PT8M5S\"\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+videoOwnerChannelTitle%29%29&key=fake_key&maxResults=20&part=id%2Csnippet&playlistId=PLJD13y84Bd01Q8b8ONfwNMLD3pVBcqwMq
  response:
    body:
      string: "{\n  \"nextPageToken\": \"EAAaBlBUOkNCUQ\",\n  \"items\": [\n    {\n
        \     \"snippet\": {\n        \"title\": \"Son of E.H Holden\",\n        \"resourceId\":
        {\n          \"videoId\": \"yx4rmRHdYas\"\n        },\n        \"videoOwnerChannelTitle\":
        \"Spacejunk - Topic\"\n      }\n    },\n    {\n      \"snippet\": {\n        \"title\":
        \"Clutch - Behold the Colossus\",\n        \"resourceId\": {\n          \"videoId\":
        \"WZRnyJltTTY\"\n        },\n        \"videoOwnerChannelTitle[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+videoOwnerChannelTitle%29%29&key=fake_key&maxResults=2&pageToken=EAAaBlBUOkNCUQ&part=id%2Csnippet&playlistId=PLJD13y84Bd01Q8b8ONfwNMLD3pVBcqwMq
  response:
    body:
      string: "{\n  \"nextPageToken\": \"EAAaBlBUOkNCWQ\",\n  \"items\": [\n    {\n
        \     \"snippet\": {\n        \"title\": \"Melvins \\\"The Decay of Lying\\\"
        \u2022 Amphetamine Reptile Records\",\n        \"resourceId\": {\n          \"videoId\":
        \"Q_976M77YDU\"\n        },\n        \"videoOwnerChannelTitle\": \"HAZE XXL\"\n
        \     }\n    },\n    {\n      \"snippet\": {\n        \"title\": \"AC/DC -
        Touch Too Much (Official Video)\",\n        \"resourceId\": {\n          \"videoId\":
        \"JGftIcp2SC0\"\n        },\n        \"videoOwnerChannelTitle\": \"acdcVEVO\"\n
        \     }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=yx4rmRHdYas%2CWZRnyJltTTY%2CWCKln2aQrto%2CnW6_lNsR_Yk%2CQ-a_iVgF9SU%2CgWdCX9FXx5Y%2C43JXtDga2FY%2ClrIjMzBr-ck%2C0jRBxXbQKQ4%2Cdxxqjj9q0es%2CtHsIAE7AybM%2C2OGkb4fdKWk%2Csflq6IEiFt4%2CIe1dmQnMKC8%2Cn0mw3rcaTQc%2CX7m9QyXcyHQ%2CbcnIhzaDTd0%2CxX7YCZa_JrE%2CQ_976M77YDU%2CJGftIcp2SC0&key=fake_key&part=id%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+videoOwnerChannelTitle%29%29&key=fake_key&maxResults=20&part=id%2Csnippet&playlistId=PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j
  response:
    body:
      string: "{\n  \"nextPageToken\": \"EAAaBlBUOkNCUQ\",\n  \"items\": [\n    {\n
        \     \"snippet\": {\n        \"title\": \"Steve Kilbey & Martin Kennedy [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+videoOwnerChannelTitle%29%29&key=fake_key&maxResults=2&pageToken=EAAaBlBUOkNCUQ&part=id%2Csnippet&playlistId=PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j
  response:
    body:
      string: "{\n  \"nextPageToken\": \"EAAaBlBUOkNCWQ\",\n  \"items\": [\n    {\n
        \     \"snippet\": {\n        \"title\": \"Jamie xx - Gosh\",\n        \"resourceId\":
        {\n          \"videoId\": \"hTGJfRPLe08\"\n        },\n        \"videoOwnerChannelTitle\":
        \"JamiexxVEVO\"\n      }\n    },\n    {\n      \"snippet\": {\n        \"title\":
        \"The Bootleggers Feat  Mark Lanegan- White Light/ White Heat\",\n        \"resourceId\":
        {\n          \"videoId\": \"89C_PQ_kuUk\"\n        },\n        \"videoOwnerChannelTitle\":
        \"Alex Adamica\"\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=MzFLCi9nOHQ%2CH2Hh2JVjshg%2C13MG9tNMoT4%2C6zYRBCQqY6s%2CfP5kHRdN-KE%2CIZTtlLNW5mw%2CtbQ8GTDWEz8%2CFfUzs4NDa64%2Ciuj8zEEUkS0%2CzZqA_NqWe6k%2Chm3ayVkGv1M%2CNr45MugvRNM%2CjjBd5x10L_0%2Cbx_iwtAQBz4%2CMqJ4ZH7pEqs%2CwZPgHRBdGOo%2CkIvWnIiIWPs%2CDW3PgQKSI8c%2ChTGJfRPLe08%2C89C_PQ_kuUk&key=fake_key&part=id%2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%2CcontentDetails%28itemCount%29%29&id=PLJD13y84Bd029ENixIHEpDqeWcjiogsFi%2CPLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"PLJD13y84Bd029ENixIHEpDqeWcjiogsFi\",\n
        \     \"snippet\": {\n        \"titl[...]
