interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?fields=items%28id%2C+snippet%28title%2C+thumbnails%28default%29%2C+channelTitle%29%29&key=fake_key&maxResults=15&part=id%2C+snippet&q=test&type=video%2Cplaylist
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": {\n        \"kind\": \"youtube#video\",\n
        \       \"videoId\": \"Pau5fYa9PW8\"\n      },\n      \"snippet\": {\n        \"title\":
        \"England Take Late Wickets | Highlights | England v New Zealand - Day 4 |
        2nd LV= Insurance Test 2022\",\n        \"thumbnails\": {\n          \"default\":
        {\n            \"url\": \"https://i.ytimg.com/vi/Pau5fYa9PW8/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          }\n        },\n
        \       \"channelTitle\": \"England & Wales Cricket Board\"\n      }\n    },\n
        \   {\n      \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"bAjyr1nL_d4\"\n      },\n      \"snippet\": {\n        \"title\": \"Pope
        &amp; Root Hit Tons! | Highlights | England v New Zealand - Day 3 | 2nd LV=
        Insurance Test 2022\",\n        \"thumbnails\": {\n          \"default\":
        {\n            \"url\": \"https://i.ytimg.com/vi/bAjyr1nL_d4/default.jpg\",\n
        \           [...]
