interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?fields=items%28id%2C+snippet%28title%2C+thumbnails%28default%29%2C+channelTitle%29%29&key=fake_key&maxResults=15&part=id%2C+snippet&q=chvrches&type=video%2Cplaylist
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": {\n        \"kind\": \"youtube#video\",\n
        \       \"videoId\": \"7U_LhzgwJ4U\"\n      },\n      \"snippet\": {\n        \"title\":
        \"CHVRCHES, Robert Smith - How Not To Drown (Official Video)\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/7U_LhzgwJ4U/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          }\n        },\n
        \       \"channelTitle\": \"ChvrchesVEVO\"\n      }\n    },\n    {\n      \"id\":
        {\n        \"kind\": \"youtube#video\",\n        \"videoId\": \"4Eo84jDIMKI\"\n
        \     },\n      \"snippet\": {\n        \"title\": \"CHVRCHES - Leave A Trace\",\n
        \       \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/4Eo84jDIMKI/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          }\n        },\n        \"channelTitle\":
     [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=7U_LhzgwJ4U%2C4Eo84jDIMKI%2Cdu4kNAyjVCg%2C_mTRvJ9fugM%2CBZyzX4c1vIs%2Ce1YqueG2gtQ%2CfyyiJc0Wk2M%2CKNHxwSp-6Og%2CCjwwmFrsX_E%2CB9BLMNn0PrQ%2C81RqEnvczV8%2Cktoaj1IpTbw%2CLDSVLQoPc8w%2C-HYI26sG8u0%2CyYq851yxBqM&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"7U_LhzgwJ4U\",\n      \"snippet\":
        {\n        \"channelId\": \"UCDgEglMcFTNpDbGEeQcummw\",\n        \"title\":
        \"CHVRCHES, Robert Smith - How Not To Drown (Official Video)\",\n        \"channelTitle\":
        \"ChvrchesVEVO\"\n      },\n      \"contentDetails\": {\n        \"duration\":
        \"PT5M33S\"\n      }\n    },\n    {\n      \"id\": \"4Eo84jDIMKI\",\n      \"snippet\":
        {\n        \"channelId\": \"UCDgEglMcFTNpDbGEeQcummw\",\n        \"title\":
        \"CHVRCHES - Leave A Trace\",\n        \"channelTitle\": \"ChvrchesVEVO\"\n
        \     },\n      \"contentDetails\": {\n        \"duration\": \"PT3M58S\"\n
        \     }\n    },\n    {\n      \"id\": \"du4kNAyjVCg\",\n      \"snippet\":
        {\n        \"channelId\": \"UCDgEglMcFTNpDbGEeQcummw\",\n    [...]
