interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?fields=items%28id%2C+snippet%28title%2C+thumbnails%28default%29%2C+channelTitle%29%29&key=fake_key&maxResults=15&part=id%2C+snippet&q=chvrches&type=video%2Cplaylist
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": {\n        \"kind\": \"youtube#video\",\n
        \       \"videoId\": \"7U_LhzgwJ4U\"\n      },\n      \"snippet\": {\n        \"title\":
        \"CHVRCHES, Robert Smith - How Not To Drown (Official Video)\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/7U_LhzgwJ4U/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          }\n        },\n
        \       \"channelTitle\": \"ChvrchesVEVO\"\n      }\n    },\n    {\n      \"id\":
        {\n        \"kind\": \"youtube#video\",\n        \"videoId\": \"du4kNAyjVCg\"\n
        \     },\n      \"snippet\": {\n        \"title\": \"CHVRCHES - Good Girls
        (Official Video)\",\n        \"thumbnails\": {\n          \"default\": {\n
        \           \"url\": \"https://i.ytimg.com/vi/du4kNAyjVCg/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          }\n        },\n
        \      [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=7U_LhzgwJ4U%2Cdu4kNAyjVCg%2CfyyiJc0Wk2M%2C4Eo84jDIMKI%2C_mTRvJ9fugM%2Ce1YqueG2gtQ%2CIvWZS58erqc%2CJjxq36QcUDI%2CwEdRhmBx8IU%2CKNHxwSp-6Og%2Cmsgimk3mV6g%2Cktoaj1IpTbw%2CCjwwmFrsX_E%2CixhWUXZJsDw%2CkOjc7xtaPes&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"7U_LhzgwJ4U\",\n      \"snippet\":
        {\n        \"title\": \"CHVRCHES, Robert Smith - How Not To Drown (Official
        Video)\",\n        \"channelTitle\": \"ChvrchesVEVO\"\n      },\n      \"contentDetails\":
        {\n        \"duration\": \"PT5M33S\"\n      }\n    },\n    {\n      \"id\":
        \"du4kNAyjVCg\",\n      \"snippet\": {\n        \"title\": \"CHVRCHES - Good
        Girls (Official Video)\",\n        \"channelTitle\": \"ChvrchesVEVO\"\n      },\n
        \     \"contentDetails\": {\n        \"duration\": \"PT3M22S\"\n      }\n
        \   },\n    {\n      \"id\": \"fyyiJc0Wk2M\",\n      \"snippet\": {\n        \"title\":
        \"CHVRCHES - He Said She Said\",\n        \"channelTitle\": \"ChvrchesVEVO\"\n
        [...]
