interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=e1YqueG2gtQ&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"e1YqueG2gtQ\",\n      \"snippet\":
        {\n        \"channelId\": \"UCDgEglMcFTNpDbGEeQcummw\",\n        \"title\":
        \"CHVRCHES - Miracle (Official Video)\",\n        \"channelTitle\": \"ChvrchesVEVO\"\n
        \     },\n      \"contentDetails\": {\n        \"duration\": \"PT3M18S\"\n
        \     }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?key=fake_key&maxResults=20&part=snippet&relatedToVideoId=e1YqueG2gtQ&type=video
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"BfzS3b3JzJc3eGn81C2WEMZ35tg\",\n
        \ \"nextPageToken\": \"CBQQAA\",\n  \"regionCode\": \"AU\",\n  \"pageInfo\":
        {\n    \"totalResults\": 175,\n    \"resultsPerPage\": 20\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"PJsyt2aqLkT39mtiHPXX51P_fwo\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"wEdRhmBx8IU\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2018-03-15T16:27:40Z\",\n        \"channelId\": \"UCKoafhJ9dkAWaEvlXCiBBwA\",\n
        \       \"title\": \"CHVRCHES - Somebody Else (The 1975 cover) in the Live
        Lounge\",\n        \"description\": \"Chvrches cover The 1975's Somebody Else
        in the BBC Radio 1 Live Lounge\\n\\nhttp://vevo.ly/G5VSnS\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/wEdRhmBx8IU/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/wEdRhmBx8IU/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/wEdRhmBx8IU/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/wEdRhmBx8IU/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/wEdRhmBx8IU/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"BBCRadio1VEVO\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2018-03-15T16:27:40Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"aWM1WUSTF7muTqFVl1x6hC-2juw\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"RJdOYscmlyo\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2020-04-21T21:28:28Z\",\n        \"channelId\": \"UCXCfOEJFMa40s-57zxw9MYw\",\n
        \       \"title\": \"CHVRCHES - Forever (Lyric Video)\",\n        \"description\":
        \"Official Lyric Video for CHVRCHES \\\"Forever\\\". \\n\\nListen To Forever
        Here: https://lnk.to/CHVRCHESPlaylist\\n\\nFollow CHVRCHES: \\nInstagram:
        http://instagram.com/chvrches \\nFacebook: http://www.facebook.com/chvrches
        \\nTwitter: http://twitter.com/chvrches \\nTumblr: http://chvrches.tumblr.com\\nWebsite:
        https://chvrch.es/\\nListen: http://Chvrches.lnk.to/Chvrches \\n\\nSubscribe
        to the CHVRCHES YouTube Channel: Chvrches.lnk.to/Subscribe \\n\\nLyrics: \\nSavor
        the taste\\nSavor the pain\\nI don't expect you to release me\\nJumping the
        gun\\nHolding my tongue\\nI'd never ask you to forgive me\\n\\nAnd you will
        never see my side\\nAnd I will always think I'm right\\nBut I always regret
        the night\\nI told you I would hate you 'til forever\\n\\nForever, forever,
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%2CchannelId%29%2CcontentDetails%28duration%29%29&id=wEdRhmBx8IU%2CRJdOYscmlyo%2CJ3UXp9jIr-U%2CbmXxLzrue6A%2Cs9MQwTzURwU%2C3TesdYxS2xE%2Cj8anHsTtr-k%2Cl_EIE5f2t6M%2CbuWNjFmQ4uw%2CCjwwmFrsX_E%2CCRDruiv08_4%2CTqzbAVCAlQ0%2CRGd9tnKDxeI%2Ci4J7L0eCOik%2CJtYa0rb_jGQ%2Ce7Wtf-EHVyc%2ChaunJARHPm4%2CNRmSf9VqrUA%2CfB4gjiMVKFI%2CDYqWrs6NJe4&key=fake_k[...]
