interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=e1YqueG2gtQ&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"e1YqueG2gtQ\",\n      \"snippet\":
        {\n        \"title\": \"CHVRCHES - Miracle (Official Video)\",\n        \"channelTitle\":
        \"ChvrchesVEVO\"\n      },\n      \"contentDetails\": {\n        \"duration\":
        \"PT3M18S\"\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?key=fake_key&maxResults=20&part=snippet&relatedToVideoId=e1YqueG2gtQ&type=video
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"NrIeaTgoYYx1PTtKjtUIV61m0TE\",\n
        \ \"nextPageToken\": \"CBQQAA\",\n  \"regionCode\": \"AU\",\n  \"pageInfo\":
        {\n    \"totalResults\": 186,\n    \"resultsPerPage\": 20\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"Uq-rUTopbR8Iw_Nxd2RYs7_4JOk\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"lnLyMjXDA3Q\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2019-04-04T15:21:08Z\",\n        \"channelId\": \"UCEdvpU2pFRCVqU6yIPyTpMQ\",\n
        \       \"title\": \"Marshmello ft. CHVRCHES - Here With Me (Jimmy Kimmel
        Live in Las Vegas Performance Video)\",\n        \"description\": \"Marshmello
        and CHVRCHES perform their hit single 'Here With Me' on Jimmy Kimmel Live\\nPurchase/Stream
        'Here With Me' \u25B6 https://marshmello.lnk.to/herewithme\\nSHOP Limited
        Edition 'Here With Me' Merch \u25B6 http://mellogang.com\\n[\u2716\u203F\u2716]
        SUBSCRIBE HERE \u25B6 http://youtube.com/marshmellomusic?sub_confirmation=1\\n\\nMarshmello
        Fortnite Event \u25B6 https://www.youtube.com/playlist?list=PLcYK4PlHbZQuBdEybTFkZ2IxKPdvPpbne\\n\\nWatch
        Cooking with Marshmello HERE \u25B6 http://youtube.com/playlist?list=PLcYK4PlHbZQtXROf5fnrr4dO4ruWiv7ts\\n\\nWatch
        Gaming with Marshmello HERE \u25B6 http://youtube.com/playlist?list=PLcYK4PlHbZQvk3_Q6fbJy0xklOZ2aH7WP\\n\\n---MORE
        Marshmello Music\\nListen to Joytime II \u25B6 http://smarturl.it/JOYTIMEII\\n\\nWATCH
        BIBA MUSIC VIDEO \u25B6 https://youtu.be/UhYRlI_bpJQ\\nWATCH PROJECT DREAMS
        MUSIC VIDEO \u25B6 https://youtu.be/Hn7WDtF3nKA\\nWATCH HAPPIER MUSIC VIDEO
        \u25B6 https://youtu.be/m7Bc3pLyij0\\nWATCH TOGETHER MUSIC VIDEO \u25B6 https://youtu.be/JePnQ1gSagc\\nWATCH
        BAYEN HABEIT LYRIC VIDEO \u25B6 https://youtu.be/jNJCdxMf0t8\\nWATCH STARS
        MUSIC VIDEO \u25B6 https://youtu.be/A57B7B6w3kw\\nWATCH FLASHBACKS MUSIC VIDEO
        \u25B6 https://youtu.be/Lj-_mD0w474\\nWATCH YOU CAN CRY MUSIC VIDEO \u25B6
        https://youtu.be/2SJ0hgdciNE\\nWATCH EVERYDAY MUSIC VIDEO \u25B6 https://youtu.be/bEdcJY8Emm8\\nWATCH
        FLY MUSIC VIDEO \u25B6 https://youtu.be/oRArmtMA9AI\\nWATCH FRIENDS MUSIC
        VIDEO \u25B6 https://youtu.be/jzD_yyEcp0M\\nWATCH SPOTLIGHT MUSIC VIDEO \u25B6
        https://youtu.be/7R1N-8SoqcM\\nWATCH LOVE U MUSIC VIDEO \u25B6 https://youtu.be/D-pKeb6Wf4U\\nWATCH
        TAKE IT BACK MUSIC VIDEO \u25B6 https://youtu.be/P9Ijqa_2eu0\\nWATCH SILENCE
        MUSIC VIDEO \u25B6 https://youtu.b[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=lnLyMjXDA3Q%2CRJdOYscmlyo%2CwEdRhmBx8IU%2CtPbJ7YJVVLw%2CT3YG2nA0jmM%2Cbv2yNre7saU%2C3TesdYxS2xE%2ChaunJARHPm4%2C5rWWGbCcbpM%2CY6DHggNoWDc%2Cl_EIE5f2t6M%2CTFdRnmqFixU%2CwzQF401MX-8%2CNRmSf9VqrUA%2CJyqemIbjcfg%2Cmsgimk3mV6g%2CO-3-46RD2W8%2CkKaF-sjG06g%2CIvWZS58erqc%2Ce7Wtf-EHVyc&key=fake_key&part=id%2[...]
