interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?fields=items%28id%2C+snippet%28title%2C+thumbnails%28default%29%2C+channelTitle%29%29&key=fake_key&maxResults=15&part=id%2C+snippet&q=test+playlist&type=video%2Cplaylist
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": {\n        \"kind\": \"youtube#video\",\n
        \       \"videoId\": \"IJzq9ZdQAEc\"\n      },\n      \"snippet\": {\n        \"title\":
        \"chill songs to listen to when studying for exams (lofi playlist mix)\",\n
        \       \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/IJzq9ZdQAEc/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          }\n        },\n        \"channelTitle\":
        \"paletteism\"\n      }\n    },\n    {\n      \"id\": {\n        \"kind\":
        \"youtube#video\",\n        \"videoId\": \"mJW57E7GpSo\"\n      },\n      \"snippet\":
        {\n        \"title\": \"the best study playlist to keep you happy and motivated
        \U0001F496 [ study, chill, relax, travel ]\",\n        \"thumbnails\": {\n
        \         \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/mJW57E7GpSo/default.jpg\",\n
        \           \"width\": 120,\n    [...]
