interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=e1YqueG2gtQ&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"e1YqueG2gtQ\",\n      \"snippet\":
        {\n        \"title\": \"CHVRCHES - Miracle (Official Video)\",\n        \"channelTitle\":
        \"ChvrchesVEVO\"\n      },\n      \"contentDetails\": {\n        \"duration\":
        \"PT3M18S\"\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=20&part=snippet&relatedToVideoId=e1YqueG2gtQ&type=video
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"bkXT0pCRDL_4WadyIa9F073A4Ls\",\n
        \ \"nextPageToken\": \"CBQQAA\",\n  \"regionCode\": \"AU\",\n  \"pageInfo\":
        {\n    \"totalResults\": 186,\n    \"resultsPerPage\": 20\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"pLC11rkrU9E8NjGo4ZrzHw963io\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"T3YG2nA0jmM\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2019-02-24T13:07:34Z\",\n        \"channelId\": \"UCXFVUI21c7n7wx6PmlkXJww\",\n
        \       \"title\": \"Chvrches & BBC Scottish Symphony Orchestra perform Miracle
        | Beginning | BBC Scotland\",\n        \"description\": \"This specially commissioned
        film brings together the worlds of synth pop and classical music to create
        an aural and visual feast for the first transmission on the new BBC Scotland
        channel. \\n\\nClick here to subscribe to your BBC Scotland Channel: http://bit.ly/BBC-Scotland-Subscribe\\nWe\u2019re
        also on other channels too!\\nTwitter: http://www.twitter.com/bbcscotland\\nFacebook:
        http://www.facebook.com/bbcscotland \\nInstagram: http://instagram.com/bbcscotland\\n\\nA
        unique collaboration between Chvrches and the BBC Scottish Symphony Orchestra,
        the performance celebrates modern Scotland featuring living portraits of people
        and images from across the country. \\n\\nThe track builds both musically
        and visually to represent the constant evolution of Scotland\u2019s society
        and cultural landscape. This new arrangement of Chvrches\u2019 hit track Miracle
        was created by the band members Iain Cook, Martin Doherty and Lauren Mayberry
        with arranger and conductor Paul Campbell.\\n\\nDirector \u2013 Oscar Sansom\\nProducers
        \u2013 Beth Allan, Gillian McNeil\\nExec Prod \u2013 Pauline Law\\nOrchestra
        Producer- Andrew Trinick\\nArranger and conductor - Paul Campbell\\nThis is
        a Forest of Black and BBC Scotland Multiplatform Co-Production\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/T3YG2nA0jmM/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/T3YG2nA0jmM/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/T3YG2nA0jmM/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/T3YG2nA0jmM/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          }\n        },\n
        \       \"channelTitle\": \"BBC Scotland\",\n        \"liveBroadcastContent\":
        \"none\",\n        \"publishTime\": \"2019-02-24T13:07:34Z\"\n      }\n    },\n
        \   {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"Uq-rUTopbR8Iw_Nxd2RYs7_4JOk\",\n
        \     \"id\": {\n        \"kind\": \"youtube#video\",\n        \"videoId\":
        \"lnLyMjXDA3Q\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2019-04-04T15:21:08Z\",\n        \"channelId\": \"UCEdvpU2pFRCVqU6yIPyTpMQ\",\n
        \       \"title\": \"Marshmello ft. CHVRCHES - Here With Me (Jimmy Kimmel
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=T3YG2nA0jmM%2ClnLyMjXDA3Q%2CRJdOYscmlyo%2CJ3UXp9jIr-U%2CtPbJ7YJVVLw%2C3TesdYxS2xE%2CY6DHggNoWDc%2CJyqemIbjcfg%2CTFdRnmqFixU%2C5rWWGbCcbpM%2Cmsgimk3mV6g%2Cl_EIE5f2t6M%2Cbv2yNre7saU%2CYynKelHGhNc%2CTT0twdZRMNw%2C5UUUkbEE9LI%2CNRmSf9VqrUA%2CGzKlcX2BR6M%2CndiNMhM9f7I%2CwEdRhmBx8IU&part=id%2Csnippet%2Cco[...]
