interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?fields=items%28id%2C+snippet%28title%2C+thumbnails%28default%29%2C+channelTitle%29%29&key=fake_key&maxResults=15&part=id%2C+snippet&q=test+playlist&type=video%2Cplaylist
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": {\n        \"kind\": \"youtube#video\",\n
        \       \"videoId\": \"IJzq9ZdQAEc\"\n      },\n      \"snippet\": {\n        \"title\":
        \"chill songs to listen to when studying for exams (lofi playlist mix)\",\n
        \       \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/IJzq9ZdQAEc/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          }\n        },\n        \"channelTitle\":
        \"paletteism\"\n      }\n    },\n    {\n      \"id\": {\n        \"kind\":
        \"youtube#video\",\n        \"videoId\": \"EIGsQQjyOB4\"\n      },\n      \"snippet\":
        {\n        \"title\": \"a playlist of songs that make studying suck less\",\n
        \       \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://i.ytimg.com/vi/EIGsQQjyOB4/default.jpg\",\n            \"width\":
        120,\n            \"height\": 90\n          }\n        },\n        \"channelTitle\":
        \"UselessClout\"\n      }\n    },\n    {\n      \"id\": {\n        \"kind\":
        \"youtube#playlist\",\n        \"playlistId\": \"PL7bbiJ1WK8wRUJjxx5OfTpS9BKc2Fg0ky\"\n
        \     },\n      \"snippet\": {\n        \"title\": \"Bass Test\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/s80dJPMEsh0/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          }\n        },\n
        \       \"channelTitle\": \"Bass Boost Everything\"\n      }\n    },\n    {\n
        \     \"id\": {\n        \"kind\": \"youtube#playlist\",\n    [...]
