interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?channelId=UCZtGOj7FTHPd2txgnbJS2kQ&fields=items%28id%2Csnippet%28title%29%2CcontentDetails%28itemCount%29%29&key=fake_key&maxResults=50&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"PLJD13y84Bd029ENixIHEpDqeWcjiogsFi\",\n
        \     \"snippet\": {\n        \"title\": \"ytmusic pl\"\n      },\n      \"contentDetails\":
        {\n        \"itemCount\": 1\n      }\n    },\n    {\n      \"id\": \"PLJD13y84Bd01Q8b8ONfwNMLD3pVBcqwMq\",\n
        \     \"snippet\": {\n        \"title\": \"respect the rock\"\n      },\n
        \     \"contentDetails\": {\n        \"itemCount\": 2219\n      }\n    },\n
        \   {\n      \"id\": \"PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j\",\n      \"snippet\":
        {\n        \"title\": \"skullcave\"\n      },\n      \"contentDetails\": {\n
        \       \"itemCount\": 1928\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%2CcontentDetails%28itemCount%29%29&id=PLJD13y84Bd029ENixIHEpDqeWcjiogsFi&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"PLJD13y84Bd029ENixIHEpDqeWcjiogsFi\",\n
        \     \"snippet\": {\n        \"title\": \"ytmusic pl\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/KlyXNRrsk4A/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/KlyXNRrsk4A/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/KlyXNRrsk4A/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/KlyXNRrsk4A/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/KlyXNRrsk4A/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Nik\"\n      },\n      \"contentDetails\": {\n
        \       \"itemCount\": 1\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%2CcontentDetails%28itemCount%29%29&id=PLJD13y84Bd01Q8b8ONfwNMLD3pVBcqwMq&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"API key not
        valid. Please pass a valid API key.\",\n    \"errors\": [\n      {\n        \"message\":
        \"API key not valid. Please pass a valid API key.\",\n        \"domain\":
        \"global\",\n        \"reason\": \"badRequest\"\n      }\n    ],\n    \"status\":
        \"INVALID_ARGUMENT\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%2CcontentDetails%28itemCount%29%29&id=PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"error\": {\n    \"code\": 400,\n    \"message\": \"API key not
        valid. Please pass a valid API key.\",\n    \"errors\": [\n      {\n        \"message\":
        \"API key not valid. Please pass a valid API key.\",\n        \"domain\":
        \"global\",\n        \"reason\": \"badRequest\"\n      }\n    ],\n    \"status\":
        \"INVALID_ARGUMENT\"\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 400
      message: Bad Request
version: 1
