interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%2CcontentDetails%28itemCount%29%29&id=PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j\",\n
        \     \"snippet\": {\n        \"title\": \"skullcave\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/MzFLCi9nOHQ/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/MzFLCi9nOHQ/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/MzFLCi9nOHQ/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/MzFLCi9nOHQ/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          }\n        },\n
        \       \"channelTitle\": \"Nik\"\n      },\n      \"contentDetails\": {\n
        \       \"itemCount\": 1928\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+videoOwnerChannelTitle%29%29&key=fake_key&maxResults=20&part=id%2Csnippet&playlistId=PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j
  response:
    body:
      string: "{\n  \"nextPageToken\": \"EAAaBlBUOkNCUQ\",\n  \"items\": [\n    {\n
        \     \"snippet\": {\n        \"title\": \"Steve Kilbey & Martin Kennedy -
        Can't Get Free\",\n        \"resourceId\": {\n          \"videoId\": \"MzFLCi9nOHQ\"\n
        \       },\n        \"videoOwnerChannelTitle\": \"KilbeyKennedy\"\n      }\n
        \   },\n    {\n      \"snippet\": {\n        \"title\": \"Icehouse - We Can
        Get Together\",\n        \"resourceId\": {\n          \"videoId\": \"H2Hh2JVjshg\"\n
        \       },\n        \"videoOwnerChannelTitle\": \"negfbjm\"\n      }\n    },\n
        \   {\n      \"snippet\": {\n        \"title\": \"Pinch - Marc Ribot's Ceramic
        Dog\",\n        \"resourceId\": {\n          \"videoId\": \"13MG9tNMoT4\"\n
        \       },\n        \"video[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+videoOwnerChannelTitle%29%29&key=fake_key&maxResults=2&pageToken=EAAaBlBUOkNCUQ&part=id%2Csnippet&playlistId=PLJD13y84Bd032qVrq7CHBLEfKZZtp-u1j
  response:
    body:
      string: "{\n  \"nextPageToken\": \"EAAaBlBUOkNCWQ\",\n  \"items\": [\n    {\n
        \     \"snippet\": {\n        \"title\": \"Jamie xx - Gosh\",\n        \"resourceId\":
        {\n          \"videoId\": \"hTGJfRPLe08\"\n        },\n        \"videoOwnerChannelTitle\":
        \"JamiexxVEVO\"\n      }\n    },\n    {\n      \"snippet\": {\n        \"title\":
        \"The Bootleggers Feat  Mark Lanegan- White Light/ White Heat\",\n        \"resourceId\":
        {\n          \"videoId\": \"89C_PQ_kuUk\"\n        },\n        \"videoOwnerChannelTitle\":
        \"Alex Adamica\"\n      }\n    }\n  ]\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=MzFLCi9nOHQ%2CH2Hh2JVjshg%2C13MG9tNMoT4%2C6zYRBCQqY6s%2CfP5kHRdN-KE%2CIZTtlLNW5mw%2CtbQ8GTDWEz8%2CFfUzs4NDa64%2Ciuj8zEEUkS0%2CzZqA_NqWe6k%2Chm3ayVkGv1M%2CNr45MugvRNM%2CjjBd5x10L_0%2Cbx_iwtAQBz4%2CMqJ4ZH7pEqs%2CwZPgHRBdGOo%2CkIvWnIiIWPs%2CDW3PgQKSI8c%2ChTGJfRPLe08%2C89C_PQ_kuUk&key=fake_key&part=id%2Csnippet%2CcontentDetails
  response:
    body:
      string: "{\n  \"items\": [\n    {\n      \"id\": \"MzFLCi9nOHQ\",\n      \"snippet\":
        {\n        \"title\": \"Steve Kilbey & Martin Kennedy - Can't Get Free\",\n
        \       \"channelTitle\": \"KilbeyKennedy\"\n      },\n      \"contentDetails\":
        {\n        \"duration\": \"PT4M27S\"\n      }\n    },\n    {\n      \"id\":
        \"H2Hh2JVjshg\",\n      \"snippet\": {\n        \"title\": \"Icehouse - We
        Can Get Together\",\n        \"channelTitle\": \"negfbjm\"\n      },\n      \"contentDetails\":
        {\n        \"duration\": \"PT3M41S\"\n      }\n    },\n    {\n      \"id\":
        \"13MG9tNMoT4\",\n      \"snippet\": {\n        \"title\": \"Pinch - Marc
        Ribot's Ceramic Dog\",\n        \"channelTitle\": \"Aquerontie\"\n      },\n
        \ [...]
