interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&maxResults=50&part=contentDetails&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4
  response:
    body: {string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/X9r4CBnH3yNRsD5_e37k76wQ7iI\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"pageInfo\": {\n  \"totalResults\": 110,\n
        \ \"resultsPerPage\": 50\n },\n \"items\": [\n  {\n   \"kind\": \"youtube#playlistItem\",\n
        \  \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/ALBdWNVyEkercrAqnhtDpNMixWM\\\"\",\n
        \  \"id\": \"UExPeE9SbTRqcE9RZk1VN2JwZkdDekR5THJvcElZRUh1Ui42NEZDNTU0RTRENDUzRjMz\",\n
        \  \"contentDetails\": {\n    \"videoId\": \"4qYqLqdTiSU\",\n    \"videoPublishedAt\":
        \"2016-06-09T21:50:45.000Z\"\n   }\n  },\n  {\n   \"kind\": \"youtube#playlistItem\",\n
        \  \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/uKs-17pWxUmxIVzog4fXOlFWJFM\\\"\",\n
        \  \"id\": \"UExPeE9SbTRqcE9RZk1VN2JwZkdDekR5THJvcElZRUh1Ui5ENEEyOTIwNkY4NzFGMkQ2\",\n
        \  \"contentDetails\": {\n    \"videoId\": \"gEgOFesYpw0\",\n    \"videoPublishedAt\":
        \"2013-09-19T07:45:38.000Z\"\n   }\n  },\n  {\n   \"kind\": \"youtube#playlistItem\",\n
        \  \"etag\": \"\\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&pageToken=CDIQAA&maxResults=50&part=contentDetails&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4
  response:
    body: {string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/XorDRONMImvAciT8E1NJlGf6vWU\\\"\",\n
        \"nextPageToken\": \"CGQQAA\",\n \"prevPageToken\": \"CDIQAQ\",\n \"pageInfo\":
        {\n  \"totalResults\": 110,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#playlistItem\",\n   \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/E1SKSd5iBQflu5Pr7jnsYKHk8vY\\\"\",\n
        \  \"id\": \"UExPeE9SbTRqcE9RZk1VN2JwZkdDekR5THJvcElZRUh1Ui4zMUEyMkQwOTk0NTg4MDgw\",\n
        \  \"contentDetails\": {\n    \"videoId\": \"3Re5ERoAfig\",\n    \"videoPublishedAt\":
        \"2010-02-15T17:01:20.000Z\"\n   }\n  },\n  {\n   \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&pageToken=CGQQAA&maxResults=50&part=contentDetails&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4
  response:
    body: {string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/N6dIC_KOnuw69Y7IH9GKMFDmEOs\\\"\",\n
        \"prevPageToken\": \"CGQQAQ\",\n \"pageInfo[...]
