interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+channelTitle%29%29&maxResults=20&part=id%2Csnippet&playlistId=PLvdVG7oER2eFutjd4xl3TGNDui9ELvY4D
  response:
    body: {string: "{\n \"nextPageToken\": \"CBQQAA\",\n \"items\": [\n  {\n   \"\
        snippet\": {\n    \"title\": \"Neil Young - A Man Needs A Maid/Heart Of Gold\
        \ Suite (Live At Massey Hall-1971)\",\n    \"channelTitle\": \"Neil Young\
        \ - Topic\",\n    \"resourceId\": {\n     \"videoId\": \"FYANlIfQtP8\"\n \
        \   }\n   }\n  },\n  {\n   \"snippet\": {\n    \"title\": \"Neil Young - Old\
        \ Man - Live at Massey Hall\",\n    \"channelTitle\": \"Neil Young - Topic\"\
        ,\n    \"resourceId\": {\n     \"videoId\": \"Vef03k5i8VI\"\n    }\n   }\n\
        \  },\n  {\n   \"snippet\": {\n    \"title\": \"Neil Young - Four Strong Winds\
        \ - 10/18/1997 - Shoreline Amphitheatre (Official)\",\n    \"channelTitle\"\
        : \"Neil Young - Topic\",\n    \"resourceId\": {\n     \"videoId\": \"QlSgRf4Nfm0\"\
        \n    }\n   }\n  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=FYANlIfQtP8%2CVef03k5i8VI%2CQlSgRf4Nfm0%2CqnWJbrNbZ0c%2CUHFldAlNXEk%2Cjy4A3uFD6GI%2CHd3oqvnDKQk%2C0zP14N9ZQcE%2CPnc4-yqB520%2Ct0fO_7T3skM%2CqVi0UvFu8Yo%2CETOIIWot-3Y%2CF7letrMf_nE%2CzphUt_tp898%2CFo6K-mhKZRY%2CDNiGa7Qyl6c%2CzlT6f2ZDm74%2CJ-3ER5Ew7HQ%2CSNl13t9ZtmA%2CFOl01vKXv6I&part=id%2Csnippet%2CcontentDetails
  response:
    body: {string: "{\n \"items\": [\n  {\n   \"id\": \"FYANlIfQtP8\",\n   \"snippet\"\
        : {\n    \"title\": \"Neil Young - A Man Needs A Maid/Heart Of Gold Suite\
        \ (Live At Massey Hall-1971)\",\n    \"channelTitle\": \"neilyoungchannel\"\
        \n   },\n   \"contentDetails\": {\n    \"duration\": \"PT6M32S\"\n   }\n \
        \ },\n  {\n   \"id\": \"Vef03k5i8VI\",\n   \"snippet\": {\n    \"title\":\
        \ \"Neil Young - Old Man - Live at Massey Hall\",\n    \"channelTitle\": \"\
        Warner Records\"\n   },\n   \"contentDetails\": {\n    \"duration\": \"PT3M33S\"\
        \n   }\n  },\n  {\n   \"id\": \"QlSgRf4Nfm0\",\n   \"snippet\": {\n    \"\
        title\": \"Neil Young - Four Strong Winds - 10/18/1997 - Shoreline Amphitheatre\
        \ (Official)\",\n    \"channelTitle\": [...]
