interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?maxResults=15&type=video%2Cplaylist&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4&part=id%2Csnippet&fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%29&q=chvrches
  response:
    body: {string: !!python/unicode "{\n \"items\": [\n  {\n   \"id\": {\n    \"kind\":
        \"youtube#video\",\n    \"videoId\": \"TU3b1qyEGsE\"\n   },\n   \"snippet\":
        {\n    \"title\": \"CHVRCHES: The Bones of What You Believe Full Album\",\n
        \   \"thumbnails\": {\n     \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/TU3b1qyEGsE/default.jpg\"\n
        \    },\n     \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/TU3b1qyEGsE/mqdefault.jpg\"\n
        \    },\n     \"high\": {\n      \"url\": \"https://i.ytimg.com/vi/TU3b1qyEGsE/hqdefault.jpg\"\n
        \    }\n    },\n    \"channelTitle\": \"goobygoooo\"\n   }\n  },\n  {\n   \"id\":
        {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"1L9iUhiOXbE\"\n   },\n
        \  \"snippet\": {\n    \"title\": \"Chvrches | Full Set | Pitchfork Music
        Festival Paris 2014 | PitchforkTV\",\n    \"thumbnails\": {\n     \"default\":
        {\n      \"url\": \"https://i.ytimg.com/vi/1L9iUhiOXbE/default.jpg\"\n     },\n
        \    \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/1L9iUhiOXbE/mqdefault.jpg\"\n
        \    [...]
