interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%2CcontentDetails%28itemCount%29%29&id=PLfGibfZATlGq6zF72No5BZaScBiWWb6U1%2CPLRHAVCbqFwJBkRupIhuGW3_XEIWc-ZYER&part=id%2Csnippet%2CcontentDetails
  response:
    body: {string: "{\n \"items\": [\n  {\n   \"id\": \"PLfGibfZATlGq6zF72No5BZaScBiWWb6U1\"\
        ,\n   \"snippet\": {\n    \"title\": \"Neil Young ~ Heart Of Gold ~ Playlist/Mix\
        \ (HQ Audio)\",\n    \"thumbnails\": {\n     \"default\": {\n      \"url\"\
        : \"https://i.ytimg.com/vi/rAtDrFdomN4/default.jpg\",\n      \"width\": 120,\n\
        \      \"height\": 90\n     },\n     \"medium\": {\n      \"url\": \"https://i.ytimg.com/vi/rAtDrFdomN4/mqdefault.jpg\"\
        ,\n      \"width\": 320,\n      \"height\": 180\n     },\n     \"high\": {\n\
        \      \"url\": \"https://i.ytimg.com/vi/rAtDrFdomN4/hqdefault.jpg\",\n  \
        \    \"width\": 480,\n      \"height\": 360\n     },\n     \"standard\": {\n\
        \      \"url\": \"https://i.ytimg.com/vi/rAtDrFdomN4/sddefault.jpg\",\n  \
        \    \"width\": 640,\n      \"height\": 480\n     },\n     \"maxres\": {\n\
        \      \"url\": \"https://i.ytimg.com/vi/rAtDrFdomN4/maxresdefault.jpg\",\n\
        \      \"width\": 1280,\n      \"height\": 720\n     }\n    },\n    \"channelTitle\"\
        : \"steelyman08\"\n   },\n   \"contentDetails\": {\n    \"itemCount\": 50\n\
        \   }\n  },\n  {\n   \"id\": \"PLRHAVCbqFwJBkRupIhuGW3_XEIWc-ZYER\",\n   \"\
        snippet\": {\n    \"title\": \"Neil Young Playlist\",\n    \"thumbnails\"\
        : {\n     \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/n2MtEsrcTTs/default.jpg\"\
        ,\n      \"width\": 120,\n      \"height\": 90\n     },\n     \"medium\":\
        \ {\n      \"url\": \"https://i.ytimg.com/vi/n2MtEsrcTTs/mqdefault.jpg\",\n\
        \      \"width\": 320,\n      \"height\": 180\n     },\n     \"high\": {\n\
        \      \"url\": \"https://i.ytimg.com/vi/n2MtEsrcTTs/hqdefault.jpg\",\n  \
        \    \"width\": 480,\n      \"height\": 360\n     },\n     \"standard\": {\n\
        \      \"url\": \"https://i.ytimg.com/vi/n2MtEsrcTTs/sddefault.jpg\",\n  \
        \    \"width\": 640,\n      \"height\": 480\n     },\n     \"maxres\": {\n\
        \      \"url\": \"https://i.ytimg.com/vi/n2MtEsrcTTs/maxresdefault.jpg\",\n\
        \      \"width\": 1280,\n      \"height\": 720\n     }\n    },\n    \"channelTitle\"\
        : \"MrCh1049\"\n   },\n   \"contentDetails\": {\n    \"itemCount\": 98\n \
        \  }\n  }\n ]\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: ['"Fznwjl6JEQdo1MGvHOGaz_YanRU/ZCysW-8zuR5zfd8bxisVghMMxik"']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/playlist?app=desktop&list=PLfGibfZATlGq6zF72No5BZaScBiWWb6U1
  response:
    body: {string: "\n    <!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"\
        true\"><head><style name=\"www-roboto\" >@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto\
        \ Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsE.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto\
        \ Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Roboto';font-s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/playlist?app=desktop&list=PLRHAVCbqFwJBkRupIhuGW3_XEIWc-ZYER
  response:
    body: {string: "\n    <!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"\
        true\"><head><style name=\"www-roboto\" >@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto\
        \ Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('true[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/results?app=desktop&search_query=%22PLfGibfZATlGq6zF72No5BZaScBiWWb6U1%22&sp=EgIQAw%253D%253D
  response:
    body: {string: "  <!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"true\"\
        ><head><style name=\"www-roboto\" >@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto\
        \ Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu9[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/results?app=desktop&search_query=%22PLRHAVCbqFwJBkRupIhuGW3_XEIWc-ZYER%22&sp=EgIQAw%253D%253D
  response:
    body: {string: "  <!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"true\"\
        ><head><style name=\"www-roboto\" >@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto\
        \ Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92F[...]
