interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com:443/youtube/v3/playlistItems?maxResults=50&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&part=contentDetails
  response:
    body: {string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\"\
        ,\n \"etag\": \"\\\"F9iA7pnxqNgrkOutjQAa9F2k8HY/LAcLHfgCJyL_jU2VwTzbCzN1v7k\\\
        \"\",\n \"nextPageToken\": \"CDIQAA\",\n \"pageInfo\": {\n  \"totalResults\"\
        : 104,\n  \"resultsPerPage\": 50\n },\n \"items\": [\n  {\n   \"kind\": \"\
        youtube#playlistItem\",\n   \"etag\": \"\\\"F9iA7pnxqNgrkOutjQAa9F2k8HY/o1kge4ET2MJadMntyj9m67QBquE\\\
        \"\",\n   \"id\": \"PLwKy1JEBxzfaXHbpCgujWJFPVJ9-Uc1UucGNw5Pl1GMc\",\n   \"\
        contentDetails\": {\n    \"videoId\": \"vCHdH3LiUS4\"\n   }\n  },\n  {\n \
        \  \"kind\": \"youtube#playlistItem\",\n   \"etag\": \"\\\"F9iA7pnxqNgrkOutjQAa9F2k8HY/1t4NoQFi0QGyupDlyrIpZlEXeKU\\\
        \"\",\n   \"id\": \"PLwKy1JEBxzfaXHbpCgujWJK_X8GHUSH5z6mcZnPJLzeM\",\n   \"\
        contentDetails\": {\n    \"videoId\": \"CIJfdVPACyw\"\n   }\n  },\n  {\n \
        \  \"kind\": \"youtube#playlistItem\",\n   \"etag\": \"\\\"F9iA7pnxqNgrkOutjQAa9F2k8HY/_on7WJgNWIqQ4ajqMM6r1C1LZqU\\\
        \"\",\n   \"id\": \"PLwKy1JEBxzfaX[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com:443/youtube/v3/playlistItems?maxResults=50&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&part=contentDetails&pageToken=CDIQAA
  response:
    body: {string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\"\
        ,\n \"etag\": \"\\\"F9iA7pnxqNgrkOutjQAa9F2k8HY/Pa3y9E-Caa4hpT02qqSYWdhKO2U\\\
        \"\",\n \"nextPageToken\": \"CGQQAA\",\n \"prevPageToken\": \"CDIQAQ\",\n\
        \ \"pageInfo\": {\n  \"totalResults\": 104,\n  \"resultsPerPage\": 50\n },\n\
        \ \"items\": [\n  {\n   \"kind\": \"youtube#playlistItem\",\n   \"etag\":\
        \ \"\\\"F9iA7pnxqNgrkOutjQAa9F2k8HY/ZZi2vtSA-anL2tRxT242pJ6nsYg\\\"\",\n \
        \  \"id\": \"PLwKy1JEBxzfaXHbpCgujWJOULDq7VNesW5ywyCfJvAig\",\n   \"contentDetails\"\
        : {\n    \"videoId\": \"U7R3BtSlcOA\"\n   }\n  },\n  {\n   \"kind\": \"youtube#playlistItem\"\
        ,\n   \"etag\": \"\\\"F9iA7pnxqNgrkOutjQAa9F2k8HY/CcmcaS8dDOXgzYP9d0NL2tBvFCs\\\
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com:443/youtube/v3/playlistItems?maxResults=50&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&part=contentDetails&pageToken=CGQQAA
  response:
    body: {string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\"\
        ,\n \"etag\": \"\\\"F9iA7pnxqNgrkOutjQAa9F2k8HY/M61DwQPpMUG8PZxN-PRySJGSOd8\\\
        \"\",\n \"prevPageToken\": \"CGQQAQ\",\n \"[...]
