interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?q=chvrches&key=AIzaSyCIM4EzNqi1in22f4Z3Ru3iYvLaY8tc3bo&part=id&maxResults=10&type=video
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#searchListResponse\",\n \"etag\":
        \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/5HnDLFkzZTtDvdelnqH5zRicPJY\\\"\",\n \"nextPageToken\":
        \"CAoQAA\",\n \"regionCode\": \"US\",\n \"pageInfo\": {\n  \"totalResults\":
        1000000,\n  \"resultsPerPage\": 10\n },\n \"items\": [\n  {\n   \"kind\":
        \"youtube#searchResult\",\n   \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/w2Ad1Oy55aR_2Gn9cpLvrhsaCCc\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"e1YqueG2gtQ\"\n
        \  }\n  },\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/Z5hW9opnsnRKeeeA0CgAJpWFpk8\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"HHnjuUVgSJ4\"\n
        \  }\n  },\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/N62nNRIBR6JMMA3QHwCDamuj_Rc\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"4Eo84jDIMKI\"\n
 [...]
