interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?maxResults=50&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4&part=id%2Csnippet&fields=nextPageToken%2Citems%28snippet%28title%2CresourceId%28videoId%29%29%29&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&pageToken=
  response:
    body: {string: "{\n \"nextPageToken\": \"CDIQAA\",\n \"items\": [\n  {\n   \"snippet\":
        {\n    \"title\": \"tito puente - Cha cha cha\",\n    \"resourceId\": {\n
        \    \"videoId\": \"vCHdH3LiUS4\"\n    }\n   }\n  },\n  {\n   \"snippet\":
        {\n    \"title\": \"PETE RODRIGUEZ   - I Like It Like That\",\n    \"resourceId\":
        {\n     \"videoId\": \"CIJfdVPACyw\"\n    }\n   }\n  },\n  {\n   \"snippet\":
        {\n    \"title\": \"Miami-Nicolas-Bachatiando 2002\",\n    \"resourceId\":
        {\n     \"videoId\": \"ns83CS3cUsA\"\n    }\n   }\n  },\n  {\n   \"snippet\":
        {\n    \"title\": \"EL CHACAL \u25BA No Te Vayas (OFFICIAL VIDEO) \u25BA BACHATA
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?maxResults=10&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4&part=id%2Csnippet&fields=nextPageToken%2Citems%28snippet%28title%2CresourceId%28videoId%29%29%29&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&pageToken=CDIQAA
  response:
    body: {string: !!python/unicode "{\n \"nextPageToken\": \"CDwQAA\",\n \"items\":
        [\n  {\n   \"snippet\": {\n    \"title\": \"marc anthony - ag[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4&id=4Nx8URjepjo%2CbOKutdlQEvY%2CuIA0vaNzhOk%2CVjK40bQ8Aas%2CfLVzw9wVd9o%2CNs9YYSqLxyI%2CtoLrTToaN0M%2Co3lV7bCiQJA%2CelGZbcpGzdU%2CIBZaQsi7iS0&part=id%2Csnippet%2CcontentDetails&fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29
  response:
    body: {string: !!python/unicode "{\n \"items\": [\n  {\n   \"id\": \"4Nx8URjepjo\",\n
        \  \"snippet\": {\n    \"title\": \"marc anthony - aguanile\",\n    \"channelTitle\":
        \"arielshp\"\n   },\n   \"contentDetails\": {\n    \"duration\": \"PT5M21S\"\n
        \  }\n  },\n  {\n   \"id\": \"bOKutdlQEvY\",\n   \"snippet\": {\n    \"title\":
        \"Marc Anthony - Tu Amor Me Hace Bien (LETRA)\",\n    \"channelTitle\": \"Los
        Baez\"\n   },\n   \"contentDetails\": {\n    \"duration\": \"PT5M4S\"\n   }\n
        \ },\n  {\n   \"id\": \"uIA0vaNzhOk\",\n   \"snippet\": {\n    \"title\":
        \"LA INDIA & MARC ANTHONY / VIVIR LO NUESTRO\",\n    \"channelTitle\": \"Angel
        Corona\"\n   },\n   \"contentDetails\": {\n    \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4&id=vCHdH3LiUS4%2CCIJfdVPACyw%2Cns83CS3cUsA%2C9QAB7OCuFfY%2C0z5r17WNvbY%2CRqpDKTm5hZo%2CgOx47fiLg9k%2CgIRW9iqD0-M%2Cqr5i5chOTPo%2CgNSTDaITU_c%2CNiH5YtKBYCM%2CohhSbgl_jhg%2CmmaQjvVfV2w%2CiR1MmlRCooY%2CnvW5RDJA8i4%2CLLsg_Lk819s%2Cjry45RskN4A%2CNjZGttRSwA8%2CRQ_1XExoXws%2CyvOMqR2yCKI%2CctVatg4N6jg%2ChEMI7w4xeXo%2CWArlszvt4u4%2Cr8MhNe6umOk%2C77RYfTXG[...]
