interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=_mTRvJ9fugM%2Ch_uyq8oGDvU&part=id%2Csnippet%2CcontentDetails
  response:
    body: {string: "{\n \"items\": [\n  {\n   \"id\": \"_mTRvJ9fugM\",\n   \"snippet\"\
        : {\n    \"title\": \"CHVRCHES - The Mother We Share\",\n    \"channelTitle\"\
        : \"ChvrchesVEVO\"\n   },\n   \"contentDetails\": {\n    \"duration\": \"\
        PT3M16S\"\n   }\n  },\n  {\n   \"id\": \"h_uyq8oGDvU\",\n   \"snippet\": {\n\
        \    \"title\": \"Don't Cry No Tears (2016 Remaster)\",\n    \"channelTitle\"\
        : \"Neil Young - Topic\"\n   },\n   \"contentDetails\": {\n    \"duration\"\
        : \"PT2M35S\"\n   }\n  }\n ]\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: ['"Fznwjl6JEQdo1MGvHOGaz_YanRU/3ZZKcyafJWiy5iGHqJWHLX2fdVk"']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/watch?app=desktop&v=_mTRvJ9fugM
  response:
    body: {string: "<!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"true\"\
        ><head><style name=\"www-roboto\" >@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto\
        \ Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto\
        \ Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/watch?app=desktop&v=h_uyq8oGDvU
  response:
    body: {string: "<!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"true\"\
        ><head><style name=\"www-roboto\" >@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto\
        \ Italic'),local('Roboto-Italic'),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzc.ttf)format('truetype');}@font-face{font-family:'Robo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/results?app=desktop&search_query=%22_mTRvJ9fugM%22&sp=EgIQAQ%253D%253D
  response:
    body: {string: "  <!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"true\"\
        ><head><style name=\"www-roboto\" >@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto\
        \ Medium Italic'),local('Roboto-MediumItalic'),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7AC[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/results?app=desktop&search_query=%22h_uyq8oGDvU%22&sp=EgIQAQ%253D%253D
  response:
    body: {string: "  <!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"true\"\
        ><head><style name=\"www-roboto\" >@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto\
        \ Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('[...]
