interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?part=id%2Csnippet%2CcontentDetails&id=TU3b1qyEGsE&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4&fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29
  response:
    body: {string: !!python/unicode "{\n \"items\": [\n  {\n   \"id\": \"TU3b1qyEGsE\",\n
        \  \"snippet\": {\n    \"title\": \"CHVRCHES: The Bones of What You Believe
        Full Album\",\n    \"channelTitle\": \"Brave New World\"\n   },\n   \"contentDetails\":
        {\n    \"duration\": \"PT48M6S\"\n   }\n  }\n ]\n}\n"}
    headers:
      alternate-protocol: ['443:quic,p=1']
      content-type: [application/json; charset=UTF-8]
      etag: ['"jOXstHOM20qemPbHbyzf7ztZ7rI/-KV4D0Tk06NYH4tgAaEiNOPoZX0"']
    status: {code: 200, message: OK}
version: 1
