interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?fields=items%28id%2C+snippet%28title%2C+thumbnails%28default%29%2C+channelTitle%29%29&maxResults=30&part=id%2C+snippet&q=chvrches&type=video%2Cplaylist
  response:
    body: {string: "{\n \"items\": [\n  {\n   \"id\": {\n    \"kind\": \"youtube#video\"\
        ,\n    \"videoId\": \"mFGq92BYmt4\"\n   },\n   \"snippet\": {\n    \"title\"\
        : \"CHVRCHES - Death Stranding (Audio)\",\n    \"thumbnails\": {\n     \"\
        default\": {\n      \"url\": \"https://i.ytimg.com/vi/mFGq92BYmt4/default.jpg\"\
        ,\n      \"width\": 120,\n      \"height\": 90\n     }\n    },\n    \"channelTitle\"\
        : \"ChvrchesVEVO\"\n   }\n  },\n  {\n   \"id\": {\n    \"kind\": \"youtube#video\"\
        ,\n    \"videoId\": \"e1YqueG2gtQ\"\n   },\n   \"snippet\": {\n    \"title\"\
        : \"CHVRCHES - Miracle (Official Video)\",\n    \"thumbnails\": {\n     \"\
        default\": {\n      \"url\": \"https://i.ytimg.com/vi/e1YqueG2gtQ/default.jpg\"\
        ,\n      \"width\": 120,\n      \"height\": 90\n     }\n    },\n    \"channelTitle\"\
        : \"ChvrchesVEVO\"\n   }\n  },\n  {\n   \"id\": {\n    \"kind\": \"youtube#video\"\
        ,\n    \"videoId\": \"4Eo84jDIMKI\"\n   },\n   \"snippet\": {\n    \"title\"\
        : \"CHVRCHES - Leave A Trace\",\n    \"thumbnails\": {\n     \"default\":\
        \ {\n      \"url\": \"https://i.ytimg.com/vi/4Eo84jDIMKI/default.jpg\",\n\
        \      \"width\": 120,\n      \"height\": 90\n     }\n    },\n    \"channelTitle\"\
        : \"ChvrchesVEVO\"\n   }\n  },\n  {\n   \"id\": {\n    \"kind\": \"youtube#playlist\"\
        ,\n    \"playlistId\": \"PLrv92Qq6dY9JgNQoGqBe89NGPNIutU2hW\"\n   },\n   \"\
        snippet\": {\n    \"title\": \"Top Tracks - CHVRCHES\",\n    \"thumbnails\"\
        : {\n     \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/mFGq92BYmt4/default.jpg\"\
        ,\n      \"width\": 120,\n      \"height\": 90\n     }\n    },\n    \"channelTitle\"\
        : \"CHVRCHES - Topic\"\n   }\n  },\n  {\n   \"id\": {\n    \"kind\": \"youtube#video\"\
        ,\n    \"videoId\": \"LDSVLQoPc8w\"\n   },\n   \"snippet\": {\n    \"title\"\
        : \"CHVRCHES - Graffiti\",\n    \"thumbnails\": {\n     \"default\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlists?fields=items%28id%2Csnippet%28title%2Cthumbnails%2CchannelTitle%29%2CcontentDetails%28itemCount%29%29&id=PLrv92Qq6dY9JgNQoGqBe89NGPNIutU2hW&part=id%2Csnippet%2CcontentDetails
  response:
    body: {string: "{\n \"items\": [\n  {\n   \"id\": \"PLrv92Qq6dY9JgNQoGqBe89NGPNIutU2hW\"\
        ,\n   \"snippet\": {\n    \"title\": \"Top Tracks - CHVRCHES\",\n    \"thumbnails\"\
        : {\n     \"default\": {\n      \"url\": \"https://i.ytimg.com/vi/BZyzX4c1vIs/default.jpg\"\
        ,\n      \"width\": 120,\n      \"height\": 90\n     },\n     \"medium\":\
        \ {\n      \"url\": \"https://i.ytimg.com/vi/BZyzX4c1vIs/mqdefault.jpg\",\n\
        \      \"width\": 320,\n      \"height\": 180\n     },\n     \"high\": {\n\
        \      \"url\": \"https://i.ytimg.com/vi/BZyzX4c1vIs/hqdefault.jpg\",\n  \
        \    \"width\": 480,\n      \"height\": 360\n     },\n     \"standard\": {\n\
        \      \"url\": \"https://i.ytimg.com/vi/BZyzX4c1vIs/sddefault.jpg\",\n  \
        \    \"width\": 640,\n      \"height\": 480\n     },\n     \"maxres\": {\n\
        \      \"url\": \"https://i.ytimg.com/vi/BZyzX4c1vIs/maxresdefault.jpg\",\n\
        \      \"width\": 1280,\n      \"height\": 720\n     }\n    },\n    \"channelTitle\"\
        : \"CHVRCHES - Topic\"\n   },\n   \"contentDetails\": {\n    \"itemCount\"\
        : 56\n   }\n  }\n ]\n}\n"}
    headers:
      Content-Type: [application/json; charset=UTF-8]
      ETag: ['"Fznwjl6JEQdo1MGvHOGaz_YanRU/q7qS0rHmpP7ZIKjNmgn7fxGCZsA"']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?fields=nextPageToken%2Citems%28snippet%28title%2C+resourceId%28videoId%29%2C+channelTitle%29%29&maxResults=20&part=id%2Csnippet&playlistId=PLrv92Qq6dY9JgNQoGqBe89NGPNIutU2hW
  response:
    body: {string: "{\n \"nextPageToken\": \"CBQQAA\",\n \"items\": [\n  {\n   \"\
        snippet\": {\n    \"title\": \"CHVRCHES - Death Stranding (Audio)\",\n   \
        \ \"channelTitle\": \"CHVRCHES - Topic\",\n    \"resourceId\": {\n     \"\
        videoId\": \"mFGq92BYmt4\"\n    }\n   }\n  },\n  {\n   \"snippet\": {\n  \
        \  \"title\": \"CHVRCHES - Clearest Blue\",\n    \"channelTitle\": \"CHVRCHES\
        \ - Topic\",\n    \"resourceId\": {\n     \"videoId\": \"BZyzX4c1vIs\"\n \
        \   }\n   }\n  },\n  {\n   \"snippet\": {\n    \"title\": \"CHVRCHES - Leave\
        \ A Trace\",\n    \"channelTitle\": \"CHVRCHES - Topic\",\n    \"resourceId\"\
        : {\n     \"videoId\": \"4Eo84jDIMKI\"\n    }\n   }\n[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items%28id%2Csnippet%28title%2CchannelTitle%29%2CcontentDetails%28duration%29%29&id=mFGq92BYmt4%2CBZyzX4c1vIs%2C4Eo84jDIMKI%2C_mTRvJ9fugM%2Ce1YqueG2gtQ%2Cifr3O33UpWs%2Ckptxrrqbdwc%2CfB4gjiMVKFI%2CLDSVLQoPc8w%2Cktoaj1IpTbw%2CB9BLMNn0PrQ%2CJyqemIbjcfg%2CjC-i3F_I4jA%2CfKuxh0E9mSI%2C81RqEnvczV8%2CKNHxwSp-6Og%2CCRDruiv08_4%2Cioq_t_GHBtg%2CTz5ibJhxowM%2CAU9_0pxiDjY&part=id%2Csnippet%2CcontentDetails
  response:
    body: {string: "{\n \"items\": [\n  {\n   \"id\": \"mFGq92BYmt4\",\n   \"snippet\"\
        : {\n    \"title\": \"CHVRCHES - Death Stranding (Audio)\",\n    \"channelTitle\"\
        : \"ChvrchesVEVO\"\n   },\n   \"contentDetails\": {\n    \"duration\": \"\
        PT5M18S\"\n   }\n  },\n  {\n   \"id\": \"BZyzX4c1vIs\",\n   \"snippet\": {\n\
        \    \"title\": \"CHVRCHES - Clearest Blue\",\n    \"channelTitle\": \"ChvrchesVEVO\"\
        \n   },\n   \"contentDetails\": {\n    \"duration\": \"PT4M24S\"\n   }\n \
        \ },\n  {\n   \"id\": \"4Eo84jDIMKI\",\n   \"snippet\": {\n    \"title\":\
        \ \"CHVRCHES - Leave A Trace\",\n    \"channelTitle\": \"ChvrchesVEVO\"\n\
        \   },\n   \"contentDetails\": {\n    \"duration\": \"PT3[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/results?app=desktop&page=1&search_query=chvrches
  response:
    body: {string: "  <!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"true\"\
        ><head><style name=\"www-roboto\" >@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto\
        \ Medium'),local('Roboto-Medium'),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto\
        \ Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truetype');}@font-face{font-family:'Roboto';font-style:italic;font-[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.youtube.com/playlist?app=desktop&list=PLe30UiAEzig6sQDVxAy2jibkbqyLiD8SY
  response:
    body: {string: "\n    <!DOCTYPE html><html lang=\"en\" data-cast-api-enabled=\"\
        true\"><head><style name=\"www-roboto\" >@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto\
        \ Regular'),local('Roboto-Regular'),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf)format('truety[...]
[...]
