interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/search?part=id&q=chvrches&maxResults=15&type=video&key=AIzaSyAl1Xq9DwdE_KD4AtPaE4EJl3WZe2zCqg4
  response:
    body: {string: !!python/unicode "{\n \"kind\": \"youtube#searchListResponse\",\n
        \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/VsP4qcJf6cr5ebPm-aH1WTFBsP8\\\"\",\n
        \"nextPageToken\": \"CA8QAA\",\n \"regionCode\": \"DE\",\n \"pageInfo\": {\n
        \ \"totalResults\": 367059,\n  \"resultsPerPage\": 15\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/N62nNRIBR6JMMA3QHwCDamuj_Rc\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"4Eo84jDIMKI\"\n
        \  }\n  },\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/W9dQENrUpeEpmfU_HUrA86qf6qs\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"B9BLMNn0PrQ\"\n
        \  }\n  },\n  {\n   \"kind\": \"youtube#searchResult\",\n   \"etag\": \"\\\"gMxXHe-zinKdE9lTnzKu8vjcmDI/3IezfTBiiPjbdpd5swNI4Gjx-jk\\\"\",\n
        \  \"id\": {\n    \"kind\": \"youtube#video\",\n    \"videoId\": \"_mTRvJ9fugM\"\n
 [...]
