interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&key=mock_api_key_for_tests&maxResults=10&pageToken=CEYQAA
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/-t_Mp_AcDnEuwo2r2mNxAHrEwv0\\\"\",\n
        \"nextPageToken\": \"CFAQAA\",\n \"prevPageToken\": \"CEYQAQ\",\n \"pageInfo\":
        {\n  \"totalResults\": 151,\n  \"resultsPerPage\": 10\n },\n \"items\": [\n
        \ {\n   \"kind\": \"youtube#playlistItem\",\n   \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/dfaSkWrq8557Zup8EVKNzwDlT9A\\\"\",\n
        \  \"id\": \"UExPeE9SbTRqcE9RZk1VN2JwZkdDekR5THJvcElZRUh1Ui44MkM2RjVEQkQ5N0I2MjVE\",\n
        \  \"contentDetails\": {\n    \"videoId\": \"yvOMqR2yCKI\",\n    \"videoPublishedAt\":
        \"2012-11-06T08:32:55.000Z\"\n   }\n  },\n  {\n   \"kind\": \"youtube#playlistItem\",\n
        \  \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/uL7CChBUviJ1Hy8PJ48UnpRRfTk\\\"\",\n
        \  \"id\": \"UExPeE9SbTRqcE9RZk1VN2JwZkdDekR5THJvcElZRUh1Ui44QTA1QTQyRTc3M0VGQzYx\",\n
        \  \"contentDetails\": {\n    \"videoId\": \"ctVatg4N6jg\",\n    \"videoPublishedAt\":
        \"2012-08-29T00:16:38.000Z\"\n   }\n  },\n  {\n   \"kind\": \"youtube#playlistItem\",\n
        \  \"etag\": \"\\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?maxResults=10&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&key=mock_api_key_for_tests&part=contentDetails
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/vnIVOzUhnhh0JTr-nrUyexQPQt0\\\"\",\n
        \"nextPageToken\": \"CAoQAA\",\n \"pageInfo\": {\n  \"totalResults\": 15[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=mock_api_key_for_tests&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&pageToken=CAoQAA&maxResults=10&part=contentDetails
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/QE4_MKixs67vzV7xoMGiXw8DarY\\\"\",\n
        \"nextPageToken\": \"CBQQAA\",\n \"prevPageToken\": \"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=mock_api_key_for_tests&part=contentDetails&pageToken=CBQQAA&maxResults=10&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/_5nxBONiAjjyo5XGPnDbVLKZZbE\\\"\",\n
        \"nextPageToken\": \"CB4QAA\",\n \"prevPageToken\": \"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&maxResults=10&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&key=mock_api_key_for_tests&pageToken=CB4QAA
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/k1oro-_Gs74PV9pOHgza-SLN350\\\"\",\n
        \"nextPageToken\": \"CCgQAA\",\n \"prevPageToken\": \"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&maxResults=10&pageToken=CCgQAA&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&key=mock_api_key_for_tests
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/iRdrjmW9oz6GH3QvoWU2-w12jhg\\\"\",\n
        \"nextPageToken\": \"CDIQAA\",\n \"prevPageToken\": \"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?key=mock_api_key_for_tests&maxResults=10&pageToken=CDIQAA&part=contentDetails&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/dPd0-jLYq6bCNgInPHRppr9g0Cw\\\"\",\n
        \"nextPageToken\": \"CDwQAA\",\n \"prevPageToken\": \"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?maxResults=10&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&pageToken=CDwQAA&key=mock_api_key_for_tests&part=contentDetails
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/erZlfsRAkXO1D_7_2ZwfVp6ce7k\\\"\",\n
        \"nextPageToken\": \"CEYQAA\",\n \"prevPageToken\": \"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&pageToken=CFAQAA&key=mock_api_key_for_tests&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&maxResults=10
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/TxCqDI0kAW7Q80oCrh9u8Kz2FrE\\\"\",\n
        \"nextPageToken\": \"CFoQAA\",\n \"prevPageToken\": \"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?maxResults=10&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&pageToken=CFoQAA&key=mock_api_key_for_tests&part=contentDetails
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/ed3RTXgZ_XYCiXg3kzU4iy8V9EU\\\"\",\n
        \"nextPageToken\": \"CGQQAA\",\n \"prevPageToken\": \"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&pageToken=CGQQAA&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&key=mock_api_key_for_tests&maxResults=10
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/HaVO56z_fbAM809v_uQgX6GYBb0\\\"\",\n
        \"nextPageToken\": \"CG4QAA\",\n \"prevPageToken\": \"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?part=contentDetails&pageToken=CG4QAA&key=mock_api_key_for_tests&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&maxResults=10
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/FzCnNpgScRS5Lu66Bp2oLoff27s\\\"\",\n
        \"nextPageToken\": \"CHgQAA\",\n \"prevPageToken\": \"C[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?pageToken=CHgQAA&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&key=mock_api_key_for_tests&part=contentDetails&maxResults=10
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/Rw4zlkBuix_220pZJJ5OMbZqT7k\\\"\",\n
        \"nextPageToken\": \"CIIBEAA\",\n \"prevPageToken\": \"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?pageToken=CIIBEAA&key=mock_api_key_for_tests&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&maxResults=10&part=contentDetails
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/L5S5iCpTXyz3kcfmhyomR9lzmrQ\\\"\",\n
        \"nextPageToken\": \"CIwBEAA\",\n \"prevPageToken\": \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?pageToken=CIwBEAA&maxResults=10&key=mock_api_key_for_tests&part=contentDetails&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/tGmgrsXLSMSFOPoS-Di-46Ea_xA\\\"\",\n
        \"nextPageToken\": \"CJYBEAA\",\n \"prevPageToken\": \[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/youtube/v3/playlistItems?pageToken=CJYBEAA&playlistId=PLOxORm4jpOQfMU7bpfGCzDyLropIYEHuR&key=mock_api_key_for_tests&part=contentDetails&maxResults=10
  response:
    body:
      string: !!python/unicode "{\n \"kind\": \"youtube#playlistItemListResponse\",\n
        \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/r4nhtBWpf6eDRQzcpq1785GqSWA\\\"\",\n
        \"prevPageToken\": \"CJYBEAE\",\n \"pageInfo\": {\n  \"totalResults\": 151,\n
        \ \"resultsPerPage\": 10\n },\n \"items\": [\n  {\n   \"kind\": \"youtube#playlistItem\",\n
        \  \"etag\": \"\\\"XpPGQXPnxQJhLgs6enD_n8JR4Qk/E9Yt9MBdYYahoRKha_TMg8qOzVk\\\"\",\n
        \  \"id\": \"UExPeE9SbTRqcE9RZk1VN2JwZkdDekR5THJvcElZRUh1Ui41NkI0NEY2RDEwNTU3Q0M2\",\n
        \  \"contentDetails\": {\n    \"videoId\": \"K2Voanva1QA\",\n    \"videoPublishedAt\":
        \"2007-11-16T23:52:28.000Z\"\n   }\n  }\n ]\n}\n"
    headers:
      content-type:
      - application/json; charset=UTF-8
      etag:
      - '"XpPGQXPnxQJhLgs6enD_n8JR4Qk/r4nhtBWpf6eDRQzcpq1785GqSWA"'
    status:
      code: 200
      message: OK
version: 1
